<GridLayout rows="*,4*,*,4*,*" columns="*,4*,*,4*,*,4*,*">
  <ng-container *ngFor="let totalColourSelection of totalColourSelections; let i = index;">
    <FlexBoxLayout *ngIf="totalColourSelection.colour !== Colour.NONE" row="1" col="{{ (i * 2) + 1 }}"
      flexDirection="column" justifyContent="center" alignItems="center"
      class="btn-colours btn-total-colours radius-5 btn-colours-{{Colour[totalColourSelection.colour]}}"
      [ngClass]="{'selected' : totalColourSelection.isSelected, 'disabled' : totalColourSelection.isDisabled}"
      [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen && !totalColourSelection.isDisabled"
      (tap)="onNumberClick(totalColourSelection)">
      <StackLayout *ngIf="!selectionQueue.includes(totalColourSelection)" horizontalAlignment="center">
        <Label horizontalAlignment="center" text="{{ totalColourSelection.name | translate | uppercase }}"></Label>
      </StackLayout>
      <StackLayout *ngIf="selectionQueue.includes(totalColourSelection)">
        <ActivityIndicator busy="true" width="50" height="500"></ActivityIndicator>
      </StackLayout>
    </FlexBoxLayout>
  </ng-container>
  <FlexBoxLayout row="3" col="2" colSpan="3" flexDirection="column" justifyContent="center" alignItems="center"
    class="btn-colours btn-total-colours btn-grey-gradient radius-5"
    [ngClass]="{'selected' : totalColourSelections[3].isSelected, 'disabled' : totalColourSelections[3].isDisabled}"
    [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen && !totalColourSelections[3].isDisabled"
    (tap)="onNumberClick(totalColourSelections[3])">
    <StackLayout *ngIf="!selectionQueue.includes(totalColourSelections[3])" horizontalAlignment="center">
      <Label horizontalAlignment="center" text="{{ totalColourSelections[3].name | translate | uppercase }}"></Label>
    </StackLayout>
    <StackLayout *ngIf="selectionQueue.includes(totalColourSelections[3])">
      <ActivityIndicator busy="true" width="50" height="500"></ActivityIndicator>
    </StackLayout>
  </FlexBoxLayout>
</GridLayout>
