.transaction-list {
	padding: 6;

	.title {
		font-size: 30;
		font-weight: bold;
		margin-left: 15;
	}

	.display {
		margin: 10;
		padding: 4;
		background-color: transparent;

		.display-content {
			margin: 5;

			.btn-filter {
				margin: 4 2;
			}

			.field-title {
				font-size: 16;
			}
		}
	}

	.label-overlap {
		margin-left: 25;
		padding: 0 6;
	}
}
