#printing {
	background: white;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	.printbox {
		margin: 150;
	}
	.border-5 {
		border-width: 5;
		border-color: #000;
		border-radius: 5;
	}
	.h2,
	.h3,
	.h4 {
		font-weight: bold;
		color: #000;
	}
	.h2 {
		font-size: 26px;
	}

	.h3,
	.h4 {
		font-size: 22px;
	}
}
