#printing {
	background: white;
	size: portrait;
	color: #000;
	font-size: 22px;
	font-weight: 900;
	.printbox {
		margin: 150;
	}
	.border-5 {
		border-width: 5;
		border-color: #000;
		border-radius: 5;
	}
	.h2,
	.h3,
	.h4 {
		font-weight: 900;
		color: #000;
	}
	.h2 {
		font-size: 28px;
	}

	.h3,
	.h4 {
		font-size: 26px;
	}

	.font-weight-bold {
		font-weight: 900;
	}
}
