#printing {
	background: white;
	color: #000;
	font-family: "Courier New", Courier, monospace;
	font-size: 30;
	.printbox {
		margin: 150;
		// padding: 90;
	}
	.header {
		.logo-print-coupon {
			margin-bottom: 5;
		}

		.header-content {
			border-width: 1;
		}
	}

	.content {
		.operation-info {
			text-transform: lowercase;
			padding-left: 5;
		}
	}

	.footer {
		padding: 0 10 10 10;
	}

	.h2,
	.h3,
	.h4 {
		font-weight: bold;
		color: #000;
	}
	.h2 {
		font-size: 43;
	}

	.h3,
	.h4 {
		font-size: 38;
	}
}
