<StackLayout id="printing" horizontalAlignment="center" verticalAlignment="top" orientation="horizontal">

  <FlexboxLayout flexDirection="column" justifyContent="space-between">
    <Button (tap)="print()" text="{{ 'PRINT' | translate }}" class="btn btn-primary"></Button>
    <Button (tap)="printService.resetPrint()" class="btn btn-accent" text="{{ 'CANCEL' | translate }}"></Button>
  </FlexboxLayout>
  <StackLayout #printing class="p-5">
    <FlexboxLayout flexDirection="column" class="header">
      <StackLayout class="logo-print-coupon" height="50"></StackLayout>
      <Label class="header-content p-5 text-center " text="{{ 'PRINT.HEADER_MSG' | translate }}"></Label>
    </FlexboxLayout>
    <FlexboxLayout flexDirection="column" flexWrap="wrap" class="content p-10">
      <Label class="bet-info" text="{{ 'BET' | translate }} {{receipt.couponCode}}"></Label>
      <Label class="operation-info" text="{{ 'CANCELED_ON' | translate }} {{date | date: 'dd-MM-yyyy HH:mm'}}"
        *ngIf="!receipt.isPayment"></Label>
      <Label class="operation-info" text="{{ 'PAID_ON' | translate }} {{date | date: 'dd-MM-yyyy HH:mm'}}"
        *ngIf="receipt.isPayment"></Label>
    </FlexboxLayout>
    <FlexboxLayout flexDirection="row" flexWrap="wrap" class="footer">
      <Label class="font-weight-bold" fontSize="20" text="{{ 'PAID_AMOUNT' | translate}}: {{receipt.amount}}"></Label>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>
