<div class="printReceipt">
  <div class="header">
    <img class="logo-print-coupon padding-10">
    <div class="header-content">
      {{ "PRINT.HEADER_MSG" | translate }}
    </div>
  </div>
  <div class="content">
    <span class="bet-info">{{ "BET" | translate}} {{receipt.couponCode}}</span>
    <span class="operation-info" *ngIf="!receipt.isPayment">{{ "CANCELED_ON" | translate}}
      {{date | date: 'dd/MM/yyyy HH:mm'}}</span>
    <span class="operation-info" *ngIf="receipt.isPayment">{{ "PAID_ON" | translate}}
      {{date | date: 'dd/MM/yyyy HH:mm'}}</span>
  </div>
  <div class="footer">
    <span>{{ "PAID_AMOUNT" | translate}}: {{receipt.amount}}</span>
  </div>
</div>
