.form {
  .padding-10{
    padding: 10px;
  }
  .padding-20{
    padding: 20px;
  }
  .btn-filter{
    height: 50px;
  }
  .display {
    position: relative;
    background-color: transparent;
    .label-overlap {
      position: absolute;
      top: -30px;
      left: 10px;
      padding: 0px 10px;
    }
  }
}

::ng-deep .cdk-global-overlay-wrapper {
  width: 35vw !important;
  // height: 50vh !important;
  left: 17vh !important;
  top: 30vh !important;
  .mat-datepicker-content-touch{
    margin: auto;
  }
  mat-calendar {
    width: 28vw !important;
    max-height: 65vh !important;
  }
}
