.form {
  .padding-10{
    padding: 10px;
  }
  .padding-20{
    padding: 20px;
  }
  .btn-filter{
    height: 50px;
  }
  .display {
    position: relative;
    background-color: transparent;
    .label-overlap {
      position: absolute;
      top: -30px;
      left: 10px;
      padding: 0px 10px;
    }
  }
}
/*
.bets-list {
  .cdk-global-overlay-wrapper {
  width: auto !important;
  height: auto !important;
  left: 17vh !important;
  top: 30vh !important;
  width: 55vh;
  height: 30vw;
    .mat-datepicker-content-touch{
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }
    mat-calendar {
      width: 100% !important;
      max-height: 30vh !important;
      height: 100%;

    }
  }
}
 */
