<GridLayout rows="*" [columns]="nativeColumnDefinition" class="list-race m-t-2" [rowHeight]="rowHeight * 2">
  <GridLayout verticalAlignment="top" *ngFor="let race of eventsList?.events  | slice:0:webColumnDefinition; let i = index" row="0" col="{{i}}"
    rows="*" columns="*" (tap)="eventSelecting(i)" [isEnabled]="!userService.isModalOpen">
    <StackLayout [isEnabled]="!userService.isModalOpen" class="card-box" shadow="3">
      <StackLayout  verticalAlignment="center" orientation="vertical"
        class="button btn-tournament-name" [ngClass]="{ 'selected' : eventsList.currentEvent == i }">
        <Label class="number" horizontalAlignment="center" text="{{race.eventLabel | uppercase }}"></Label>
        <Label class="date" horizontalAlignment="center" text="{{ race.eventStart | date:'HH:mm' }}"></Label>
      </StackLayout>
    </StackLayout>
    <GridLayout row="0" col="{{i}}" class="overlay radius-5" *ngIf="userService.isModalOpen">
    </GridLayout>

  </GridLayout>
</GridLayout>
