<GridLayout rows="*" columns="*" class="dialog">
  <GridLAyout rows="*,*, 7*, *">
    <!-- header  -->
    <Label verticalAlignment="center" row="0" text="{{ 'DYNAMIC_KEYS.PRODUCT_DIALOG.RANKING' | translate | uppercase }}"
      class="h3 title" horizontalAlignment="center"></Label>
    <GridLayout row="1" rows="12*,4*" columns="2*,4*,2*,2*,2*,6*,*" verticalAlignment="center" class="p-l-10 p-r-10">
      <Label row="0" col="0" class="text-center" text="#"></Label>
      <Label row="0" col="1" class="text-center" text="{{'TEAM' | translate}}"></Label>
      <Label row="0" col="2" class="text-center" text="{{'POINTS' | translate}}"></Label>
      <Label row="0" col="3" class="text-center" text="{{'GF' | translate}}"></Label>
      <Label row="0" col="4" class="text-center" text="{{'GA' | translate}}"></Label>
      <Label row="0" col="5" class="text-center" text="{{'CONDITION' | translate}}"></Label>
      <Label row="0" col="6" class="text-center" text="{{'WEEK' | translate}}"></Label>
      <!-- DIVIDER -->
      <StackLayout row="1" colSpan="7" class="border-bottom-overlay"></StackLayout>
    </GridLayout>
    <!-- content data -->
    <!-- <GridLayout row="2" rows="{{rows}}" columns="*,2*,8*" class="p-l-10 statistic-data" *ngIf="data.statistics.virtualBetCompetitor">
        <ng-container *ngFor="let stat of data.statistics.virtualBetCompetitor; let i=index">
          <GridLayout row="{{i}}" col="0" rows="*" columns="*" class="m-b-5 bg-playable" verticalAlignment="center">
            <GridLayout rows="*" columns="*" class="button btn-default-dog-play btn-{{data.statistics.codeProduct}}-{{stat.ito}}">
              <StackLayout class="label"></StackLayout>
              <Button text="{{stat.ito}}" class="text-center button-internal" isEnabled="false"></Button>
            </GridLayout>
          </GridLayout>
          <Label verticalAlignment="center" class="text-center" row="{{i}}" col="1" text="{{stat.lrrs}}"></Label>
          <StackLayout row="{{i}}" col="2" class="p-r-10" verticalAlignment="center">
            <StackLayout class="fitness-container fitness-race">
              <StackLayout class="fitness-content" horizontalAlignment="left"
                [style.width.%]="(( stat.ff / maxDataStatistics) * 100) + 20"></StackLayout>
            </StackLayout>
          </StackLayout>
        </ng-container>
      </GridLayout> -->
    <!-- close button -->
    <StackLayout row="3" horizontalAlignment="center" verticalAlignment="center">
      <GridLayout rows="*" columns="25*, 25*, 25*" class="m-5">
        <StackLayout col="0"></StackLayout>
        <Button col="1" text="{{ 'CLOSE' | translate }}" borderRadius="4" class="btn-danger btn-close" (tap)="close()"
          textTransform="none"></Button>
        <StackLayout col="2"></StackLayout>
      </GridLayout>
    </StackLayout>
  </GridLAyout>
</GridLayout>
