<GridLayout rows="*" columns="*" class="dialog">
  <GridLAyout rows="2*, 2*,*,12*,*, 2*">
    <!-- header  -->
    <Label verticalAlignment="center" row="0" text="{{ 'DYNAMIC_KEYS.PRODUCT_DIALOG.RANKING' | translate | uppercase }}"
      class="h3 title" horizontalAlignment="center"></Label>
    <GridLayout row="1" rows="12*,4*" columns="*,5*,7*,4*,4*,4*,12*,4*,*" verticalAlignment="center">
      <Label row="0" col="1" horizontalAlignment="center" text="#"></Label>
      <Label row="0" col="2" horizontalAlignment="left" class="text-center" text="{{'TEAM' | translate}}"></Label>
      <Label row="0" col="3" horizontalAlignment="center" text="{{'POINTS' | translate}}"></Label>
      <Label row="0" col="4" horizontalAlignment="center" text="{{'GF' | translate}}"></Label>
      <Label row="0" col="5" horizontalAlignment="center" text="{{'GA' | translate}}"></Label>
      <Label row="0" col="6" horizontalAlignment="center" text="{{'RANKING.CONDITION' | translate}}"></Label>
      <Label row="0" col="7" horizontalAlignment="center" text="{{'RANKING.WEEK' | translate}}"></Label>
      <!-- DIVIDER -->
      <StackLayout row="1" colSpan="9" class="border-bottom-overlay"></StackLayout>
    </GridLayout>
    <!-- Scroll -->
    <GridLayout row="2" class="card-odd scroll" (tap)="previusTeams()" *ngIf="maxPage > 1"
      [ngClass]="{'disabled': page <= 0}" [isEnabled]="page > 0">
      <Image width="20" src="~/assets/icons/Up.png" verticalAlignment="center"></Image>
    </GridLayout>
    <GridLayout row="4" class="card-odd scroll" (tap)="nextTeams()" *ngIf="maxPage > 1"
      [ngClass]="{'disabled': page >= maxPage - 1}" [isEnabled]="page < maxPage - 1">
      <Image width="20" src="~/assets/icons/Down.png" verticalAlignment="center">
      </Image>
    </GridLayout>
    <!-- Content data -->
    <GridLayout row="3" rows="*,*,*,*,*,*,*,*,*,*"
      *ngIf="data.tournamentRanking.ranking && data.tournamentRanking.ranking?.RankRows">
      <GridLayout row="{{i}}" columns="*,5*,7*,4*,4*,4*,12*,4*,*" *ngFor="let ranking of teamsData; let i=index"
        verticalAlignment="center">
        <GridLayout col="1" columns="*,*" horizontalAlignment="center" verticalAlignment="center">
          <Label horizontalAlignment="center" col="0" text="{{ranking.Competitor.ito}}."></Label>
          <StackLayout horizontalAlignment="center" col="1" verticalAligment="top" class="rank-icon m-l-5"
            [ngClass]="{'rank-up-icon': (ranking.RankColumns[4].RankColumnValue | number) > 0, 'rank-same-icon': (ranking.RankColumns[4].RankColumnValue | number) == 0, 'rank-down-icon': (ranking.RankColumns[4].RankColumnValue | number) < 0}">
          </StackLayout>
        </GridLayout>
        <Label col="2" text="{{ranking.Competitor.nm }}" verticalAligment="center"></Label>
        <ng-container *ngFor="let colData of ranking.RankColumns">
          <Label col="3" text="{{ colData.RankColumnValue}}" *ngIf="colData.RankColumnKey ==='POINTS'"
            horizontalAlignment="center" verticalAligment="center"></Label>
          <Label col="4" text="{{ colData.RankColumnValue }}" *ngIf="colData.RankColumnKey ==='GOALS'"
            horizontalAlignment="center" verticalAligment="center"></Label>
          <Label col="5" text="{{ colData.RankColumnValue }}" *ngIf="colData.RankColumnKey ==='GOALSCON'"
            horizontalAlignment="center" verticalAligment="center"></Label>
          <StackLayout orientation="horizontal" col="6" *ngIf="colData.RankColumnKey ==='LASTRESULTS'"
            horizontalAlignment="center">
            <ng-container *ngFor="let result of colData.RankColumnValue | splitString : ','">
              <Label text="{{ result }}" *ngIf="result" class="last-result last-result-{{result}}"></Label>
            </ng-container>
          </StackLayout>
          <Label col="7" text="{{ colData.RankColumnValue }}" *ngIf="colData.RankColumnKey ==='ROUND'"
            horizontalAlignment="center" verticalAligment="center"></Label>
        </ng-container>
      </GridLayout>
    </GridLayout>
    <!-- Close button -->
    <StackLayout row="5" horizontalAlignment="center" verticalAlignment="center">
      <GridLayout rows="*" columns="25*, 25*, 25*" class="m-5">
        <StackLayout col="0"></StackLayout>
        <Button col="1" text="{{ 'CLOSE' | translate }}" borderRadius="4" class="btn-danger btn-close" (tap)="close()"
          textTransform="none"></Button>
        <StackLayout col="2"></StackLayout>
      </GridLayout>
    </StackLayout>
  </GridLAyout>
</GridLayout>
