<!-- Btn amount default -->
<mat-grid-list cols="4" class="grid-row-amount">
  <mat-grid-tile>
    <button class="btn-default btn-amount-1 radius-50">1</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button class="btn-default btn-amount-2 radius-50">2</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button class="btn-default btn-amount-3 radius-50">3</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button class="btn-default btn-amount-4 radius-50">4</button>
  </mat-grid-tile>
</mat-grid-list>
<!-- BTN calculator -->
<mat-grid-list cols="4">
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">1</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">2</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">3</button>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <button class="btn-default btn-keyboard btn-success radius-10">+</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">4</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">5</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">6</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">7</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">8</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">9</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">0</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">00</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard radius-10">000</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-default btn-keyboard btn-warning radius-10">C</button>
  </mat-grid-tile>
</mat-grid-list>