
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &[class*="-24px"]{
        width: 24px;
        height: 24px;
    }
    &[class*="-48px"]{
      width: 48px;
      height: 48px;
    }
  }


.icon-baseline-assessment-24px:before {
  /*content: "\e900";
  color: #9a9dab;*/
  content: url("app/themes/skins/develop/icon/baseline-assessment-24px.svg");
}
.icon-baseline-assignment-24px:before {
  /* content: "\e901";
  color: #9a9dab; */
  content: url("app/themes/skins/develop/icon/baseline-assignment-24px.svg");
}
.icon-baseline-find_in_page-24px:before {
  /*  content: "\e902";
  color: #9a9dab; */
  content: url("app/themes/skins/develop/icon/baseline-find_in_page-24px.svg");
}
.icon-account:before {
  /* content: "\e903";
  color: #9a9dab; */
  content: url("app/themes/skins/develop/icon/account.svg");
}
.icon-baseline-access_time:before {
  content: url("app/themes/skins/develop/icon/baseline-access_time-24px.svg"); // "\e904";

}
.icon-baseline-lock:before {
  content: url("app/themes/skins/develop/icon/baseline-lock-24px.svg"); // "\e904";

}
.icon-baseline-remove_shopping_cart-24px:before {
  content: url("app/themes/skins/develop/icon/baseline-delete_outline-24px.svg");
}
.icon-baseline-timer-24px:before {
  content: url("app/themes/skins/develop/icon/baseline-timer-24px.svg");
}
.icon-baseline-shopping_cart-24px:before {
  content: url("app/themes/skins/develop/icon/baseline-shopping_cart-24px.svg");
}
.alert {
  content: url("app/themes/skins/develop/icon/alert.svg");
}
.baseline-check_circle-24px {
  content: url("app/themes/skins/develop/icon/baseline-check_circle-24px.svg");
}
.icon-baseline-arrow_back-24px:before {
  content: url("app/themes/skins/develop/icon/baseline-arrow_back-24px.svg");
}

.icon-baseline-supervised-user-circle-white:before {
  content: url("app/themes/skins/develop/icon/baseline_supervised_user_circle_white.png");
}
.user-icon {
  background: url("app/themes/skins/develop/icon/icona-user.png") no-repeat center;
}

.pwd-icon {
	background: url("app/themes/skins/develop/icon/icona-pwd.png") no-repeat center ;
}

.warning-icon {
  background: url("app/themes/skins/develop/icon/warning.png") no-repeat center;
  background-size: contain;
}
.success-icon {
  background: url("app/themes/skins/develop/icon/checked.png") no-repeat center center;
  background-size: contain;
}
