.summary {
	.title {
		font-size: 20;
		font-weight: bold;
		margin-left: 15;
		vertical-align: center;
	}
	.sub-title {
		opacity: 0.4;
	}
	.header {
		.paginator {
			font-size: 25;
		}
	}
	.value {
		// font-size: 20;
		font-weight: bold;
	}
	.card {
		margin: 15;
	}
	.display {
		padding: 4;

		&.toolbar {
			border-radius: 0;
		}
	}
}
