:focus {
	outline: none;
}
button {
	width: 100%;
	height: 100%;
	background: none;
	cursor: pointer;
	color: currentColor;
	-webkit-transition: all 0.4s ease; /* Safari */
	transition: all 0.4s ease;
}

.btn-reset {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
}

.btn-default {
	font-weight: 700;
	font-size: 1.25em;
	border: 0;
	/* border: 2px solid currentColor; */
	&[disabled] {
		opacity: 0.1;
	}
}

button:active:not([disabled]) {
	box-shadow: inset 0px 1px 4px 3px rgba(0, 0, 0, 0.5);
}
.btn-default-dog-play {
	border: 4px solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	&:focus {
		border: transparent;
	}
	&.btn-dog-4:focus,
	&.btn-dog-6:focus {
		border: 4px solid white;
	}
	&.actived {
		background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
		background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	}
	&.btn-dog-play-actived {
		box-shadow: 0px 0px 5px 3px #ffca18;
	}
	&[disabled] {
		opacity: 0.1;
	}
}

// BUTTON COCKFIGHT
.btn-default-cock {
	border: 4px solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	&:focus {
		border: transparent;
	}
	&.btn-cock-0 {
		background: #bebebe;
		border-color: #bebebe;
	}
	&.btn-cock-1 {
		background: #ff0000;
		border-color: #ff0000;
	}
	&.btn-cock-2 {
		background: #4472c4;
		border-color: #4472c4;
	}
	&.btn-actived {
		box-shadow: 0px 0px 5px 3px #ffca18;
	}
}

.btn-advance-game {
	&.inactive {
		opacity: 0.8;
	}
	&.disabled {
		opacity: 0.1;
	}
}

.playable-row-tile {
	&.disabled {
		opacity: 0.1;
	}
}

/**
* HORSE, DOG BUTTON
**/

.btn-DOG-1,
.btn-HORSE-1,
.btn-HORSE-VIRT-1 {
	background: #ff0000;
	border-color: #ff0000;
}
.btn-DOG-2,
.btn-HORSE-3,
.btn-HORSE-VIRT-3 {
	background: #4472c4;
	border-color: #4472c4;
}
.btn-DOG-3,
.btn-HORSE-2,
.btn-HORSE-VIRT-2 {
	background: #fff;
	color: #000;
	border-color: #fff;
}
.btn-DOG-4 {
	background: #000;
	border-color: #fff;
}
.btn-DOG-5 {
	background: #f25900;
	border-color: #f25900;
}
.btn-DOG-6 {
	background: repeating-linear-gradient(0deg, #000, #000 20%, #fff 10%, #fff 35%);
	color: #ff0000;
	border-color: #fff;
	span {
		background: #fff;
		border-radius: 50%;
		width: 50%;

		display: flex;
		align-content: center;
		justify-content: center;
		margin: 0 auto;
	}
}

.btn-HORSE-4,
.btn-HORSE-VIRT-4 {
	background: #ffff00;
	border-color: #ffff00;
	color: #000;
}
.btn-HORSE-5,
.btn-HORSE-VIRT-5 {
	background: #008000;
	border-color: #008000;
}
.btn-HORSE-6,
.btn-HORSE-VIRT-6 {
	background: #000;
	border-color: #fff;
	color: #ffff00;
}

.playable-special-bets {
	button {
		&[disabled] {
			opacity: 0.4;
		}
		&.actived {
			box-shadow: 0px 0px 5px 3px #ffca18;
		}
	}
}
.playable-grid-repeat,
.advance-game {
	button {
		font-size: 2.8vh;
		&.actived {
			box-shadow: 0px 0px 5px 3px #ffca18;
		}
	}
}
.btn-grey {
  @extend %btn-gray;
}

.btn-success-no-gradient {
  @extend  %color-bg-success;
}
.btn-danger-no-gradient {
  @extend  %color-bg-allert;
}
