.btn-default-dog-play {
	border-width: 2;
	&.actived {
		background: linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	}
	&.btn-dog-play-actived {
		border-color: #ffca18;
	}
	&.disabled {
		opacity: 0.1;
	}
}
.btn-advance-game {
	border-width: 2;
	border-color: #ffffff;
	&.actived {
		border-color: #ffca18;
	}
	&.inactive {
		opacity: 0.8;
  }
  &.disabled {
    opacity: 0.5;
  }
}
.btn-default {
	&.disabled {
		opacity: 0.4;
	}
}
.playable-row-tile {
	&.disabled {
		opacity: 0.1;
	}
}

.btn-DOG-1,
.btn-HORSE-1,
.btn-HORSE-VIRT-1 {
	background: #ff0000;
	border-color: #ff0000;
}
.btn-DOG-2,
.btn-HORSE-3,
.btn-HORSE-VIRT-3 {
	background: #4472c4;
	border-color: #4472c4;
}
.btn-DOG-3,
.btn-HORSE-2,
.btn-HORSE-VIRT-2 {
	background: #fff;
	color: #000;
	border-color: #fff;
}
.btn-DOG-4 {
	background: #000;
	border-color: #fff;
}
.btn-DOG-5 {
	background: #f25900;
	border-color: #f25900;
}
.btn-DOG-6 {
	background: linear-gradient(
		to bottom,
		#000,
		#000 15%,
		#fff 15%,
		#fff 30%,
		#000 30%,
		#000 45%,
		#fff 45%,
		#fff 60%,
		#000 60%,
		#000 75%,
		#fff 75%,
		#fff 90%,
		#000 90%,
		#000 100%
	);
	color: #ff0000;
	border-color: #fff;
	.label {
		background: #fff;
		border-radius: 50%;
		width: 50%;
		height: 70%;
		text-align: center;
	}
}

.btn-HORSE-4,
.btn-HORSE-VIRT-4 {
	background: #ffff00;
	border-color: #ffff00;
	color: #000;
}
.btn-HORSE-5,
.btn-HORSE-VIRT-5 {
	background: #008000;
	border-color: #008000;
}
.btn-HORSE-6,
.btn-HORSE-VIRT-6 {
	background: #000;
	border-color: #fff;
	color: #ffff00;
}

// BUTTON COCKFIGHT
.btn-default-cock {
	border: 4px solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	&:focus {
		border: transparent;
	}
	&.btn-cock-0 {
		background: #bebebe;
		border-color: #bebebe;
	}
	&.btn-cock-1 {
		background: #ff0000;
		border-color: #ff0000;
	}
	&.btn-cock-2 {
		background: #4472c4;
		border-color: #4472c4;
	}
	&.btn-actived {
		border-color: #ffca18;
	}
}
.playable-special-bets {
	.button {
		border-width: 2;
		border-color: transparent;
		&.actived {
			border-color: #ffca18;
		}
	}
}
