body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.app{
    &.develop {
        @import './skins/develop/styles';
    }   
    .main-content { 
        height: 100vh;
        overflow: hidden;
        @extend %color-bg-default;

        app-products{height: 100vh;}
        .toolbar{
            /*  height: 5vh; */
            @extend %header;
        }
         
        .toolbar {
            .icon {
                height: 100%;                 
            }
            .logo, .menu {
                padding: 0 10px;
            }
            .btn {
                padding: 0 4px;
            }
            .notification {
                width: 45px;
                padding: 0 10px;

                .icon {
                    height: 100%;
                    width: 100%;
                }

                .counter-container {
                    position: absolute;                    
                }
                .counter {
                    font-size: 0.8em;
                    position: relative;
                    top: 6px;
                    left: 7px;
                    padding: 0 3px;
                    @extend %notification-style;
                }

            }
        }    
        
        .user-menu {
            @extend %text-color;
            padding: 0 6px;

            .details {
                font-size: 0.9em;
            }

            .clock {
                font-size: 0.8em;
                margin-left: 8px;
                padding: 1px 5px;
                border: 1px solid;
                border-radius: 5px;
                @extend %clock-border-color;

            }
        }
   
        .product{
            .product-container{@extend %border-product ;}
            .product-calc,
            .product-coupon { @extend %border-product ; }
        }     
    }
}

.btn-reset {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}