CardView {
    background-color: transparent;
}

.app{
    &.develop {
        @import './skins/develop/styles';
    }   
    .main-content { 
        @extend %font-family;
        @extend %color-bg-default;
        
        .toolbar{
            @extend %header;

            .logo {
                margin: 0 10 0 0;
            }
            .menu {
                margin: 6;
            }
            .prod {
                margin: 6 3 3;
                border-color: transparent;
                border-bottom-width: 3;

                Image {
                    @extend %header-btn-menu-color;
                    border-width: 1;
                    margin: 1;
                }

                &.selected {
                    @extend %header-btn-menu-color-selected;
                }
            }
            .user-menu{
                .notification {
                    margin: 0 10;    
                }
            
                .counter {
                    text-align: center;
                    font-weight: bold;
                    @extend %header-notification-style-mobile;
                }
                .details {
                    margin-right: 10;

                    .operator{
                        margin-left: 10;
                        font-weight: 600;
                        @extend %header-text-operator;
                    }
                }
                .clock {
                    padding: 2 10;
                    border-radius: 5; 
                    margin: 2 5;
                    @extend %card-title-mobile;

                    .clock-icon {
                        margin-right: 10;
                    }
                }
            }
        }        

        // .widgets {
        //     padding: 0 5;
        //     .widget-btn {  
        //         .icon {
        //             height: 100%;
        //             width: 100%;
        //         }
        //     }            
        // }

        .display {
            @extend %card-title-mobile;
        }
        .sub-display{
            @extend %sub-card-title;
        }
        
        .product{
            padding: 10 0;
            .product-calc,
            .product-coupon {
                .card{
                    padding: 5;
                   
                }
            }
        //     .display-amount{
        //         @extend %color-bg-white;
        //         min-height: 100%;
        //         width: 100%;
        //         label{
        //             font-weight: 500;
        //             font-size: 0.7em;
        //             text-transform: uppercase;
        //             span {
        //                 padding: 5;
        //                 display: block;
        //                 text-align: right;
        //             }
        //             input{
        //                 margin-top: 10;
        //                 border: 0;
        //                 width: 100%;
        //                 font-size: 1.8em;
        //                 font-weight: 700;
        //                 text-align: right;
        //                 padding-right: 10;
        //             }
        //         }
        //     }
        //     .product-coupon{
        //         // padding: 0 5;
        //         app-coupon{
        //             width: 100%;
        //             .btn-coupon-board{
        //                 button{
        //                     &.actived{
        //                         @extend %btn-success-gradient;
        //                     }
        //                 }
        //             }
        //         }
        //     }            
        // }          
        // // GRID AMOUNT
        // .grid-row-amount{

        //     .btn-amount-1{
        //         @extend %btn-orange;
        //     }
        //     .btn-amount-2{
        //         @extend %btn-gray-gradient-2;
        //     }
        //     .btn-amount-3{
                
        //         @extend %btn-yellow-gradient ;
        //     }
        //     .btn-amount-4{
               
        //         @extend %btn-white-gradient ;
        //     }
        // }
        // .grid-keyboard-number{
        //     .mat-grid-tile{
        //         .mat-figure {
        //             padding: 5;
        //         }
        //     }
        // }
        // .btn-keyboard{
        //     @extend %btn-keyboard;
        //     &.btn-grey{
                
        //         @extend %btn-gray;
        //     }
        //     &.btn-black{
                
        //         @extend %btn-dark;
        //     }
        // }
        // .btn-warning{
        //     @extend %btn-warning;
        // }
        // .btn-success{
        //     @extend %btn-success-gradient;
        // }  

        // .btn-grey-gradient { 
        //     @extend %btn-gray-gradient;
        // }
        // .btn-dark-gradient{
        //     @extend %btn-dark-gradient;
        // }
        // .advance-game {
        //     padding: 0.8vh 0 0.8vh;
        //     .btn-advance-game {
        //         @extend %btn-advance-game;  
        //         .label {
        //             font-weight: 700;
        //             font-size: 1.6vw;
        //         }
        //     } 
        // }

        // .polifuctional-area {
        //     .mat-figure {
        //         padding-top: 10;
        //         margin: 0 6;
        //     }
        // }

        // .dog-racing {
        //     @extend %dog-racing-bg;

        //     .race-control {
        //         .time {
        //             @extend %time-card-title;
        //         }
        //     }
        //     .list-race {
        //         .number {
        //             @extend %btn-success-gradient;                              
        //             &.selected {
        //                 @extend %btn-blue-gradient;
        //             }    
        //         }
        //         .date {
        //             @extend %btn-gray-gradient; 
        //             &.selected {
        //                 @extend %btn-dark-gradient;
        //             }  
        //         }
        //     }
        //     .card-box-result {
        //         .header {
        //             .raceNumber {
        //                 @extend %card-title-noborder;
        //             }
        //         }
        //     }
        }
    }
}

.radius-5 { 
    border-radius: 5;
}

.radius-10 { 
    border-radius: 10;
}

.radius-15 { 
    border-radius: 15;
}

.radius-25 { 
    border-radius: 25;
}

.radius-50 { 
    border-radius: 50;
}

.padding-top-5{
    padding-top: 5;
}
.padding-top-10{
    padding-top: 10;
}
.padding-top-25{
    padding-top: 25;
}
.padding-horizontal-6{
    padding: 0 6;
}


