@import './buttons';
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.app{
    &.develop {
        @import './skins/develop/styles';
    }   
    .main-content { 
        height: 100vh;
        overflow: hidden;
        @extend %color-bg-default;

        app-products{ height: 100vh; }
        .toolbar{
            @extend %header;
            
            .icon {
                width: 100%;
            }
            .logo, .menu {
                margin: 0 10px;
            }
            .btn {
                margin: 0 4px;
            }
            .notification {
                margin: 0 10px;

                .counter-container {        
                    text-align: center;        
                    height: 100%;             
                    @extend %notification-img; 
                    background-repeat: no-repeat; 
                    background-size: contain; 
                    background-position: center;
                }
                .counter {
                    font-size: 1.6vh;
                    padding: 0 3px;
                    @extend %notification-style;
                }

                .details {
                    font-size: 1.9vh;
                }
    
                .clock {
                    font-size: 1.8vh;
                    margin-left: 0.8vw;
                    padding: 1px 5px;
                    border: 1px solid;
                    border-radius: 5px;
                    @extend %clock-border-color;
                }
            }
        }        

        #widgets {

            padding: 0 5px;

            .widget-btn {
                @extend %widget-button-style;

                .icon {
                    height: 100%;
                    width: 100%;
                }
            }            
        }
   
        .product{
            .product-container{
                @extend %border-product ;
            }
            .product-calc,
            .product-coupon {
                @extend %border-product ; 
            }

            .product-calc{
                .potential-winner{
                    @extend %color-bg-white;
                    min-height: 100%;
                    width: 100%;
                    padding: 2px;
                    label{
                        font-weight: 500;
                        font-size: 0.7em;
                        text-transform: uppercase;
                        
                        input{
                            margin-top: 10px;
                            border: 0;
                            width: 100%;
                            font-size: 1.8em;
                            font-weight: 700;
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }  
        // GRID AMOUNT
        .grid-row-amount{

            .btn-amount-1{
                
                @extend %btn-orange;
            }
            .btn-amount-2{
                border: 3px solid;
                @extend %btn-gray;
            }
            .btn-amount-3{
                border: 3px solid;
                @extend %btn-yellow ;
            }
            .btn-amount-4{
                border: 3px solid;
                @extend %btn-white ;
            }
        }
        .grid-keyboard-number{
            .mat-grid-tile{
                .mat-figure {
                    padding: 5px;
                }
            }
        }
        .btn-keyboard{
            @extend %btn-keyboard;
            &.btn-grey{
                border: 3px solid;
                @extend %btn-gray;
            }
            &.btn-black{
                border:3px solid;
                @extend %btn-dark;
            }
        }
        .btn-warning{
            @extend %btn-warning;
        }
        .btn-success{
            @extend %btn-success;
        }  
        
       
    }
}

.radius-5 { 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.radius-10 { 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.radius-25 { 
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.radius-50 { 
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.elevation-z5{
    box-shadow:1px 2px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 1px 3px rgba(0, 0, 0, 0.2);
}