<div fxFlexFill fxLayout="row" fxLayoutAlign="end center" class="user-menu">
  <div fxLayout="column">
    <!-- NOTIFICATION -->
    <button class="btn-reset toolbar icon notification counter-btn">
      <div class="counter-container">
        <span class="counter">2</span>
      </div>
    </button>
  </div>
  <div fxLayout="column" class="details">
    <div fxLayout="row">
      Balance: 1.000.000.000,00
    </div>
    <div fxLayout="column">
      Operator: Operator2
    </div>
  </div>
  <div fxLayout="column" class="clock">
    {{ myTime | date:'HH:mm' }}
  </div>
</div>