<FlexboxLayout flexDirection="row" justifyContent="flex-end" class="user-menu">
  <!-- NOTIFICATION -->
  <ng-container *ngIf="notifyIcon">
    <AbsoluteLayout [width]="barHeight" [height]="barHeight" class="notification">
      <Image stretch="aspectFit" [top]="barHeight * 0.25" [left]="barHeight * 0.15" [width]="notifyIcon.width"
        [height]="notifyIcon.height" class="clock-icon" src="~/assets/icons/account.png">
      </Image>
    </AbsoluteLayout>
  </ng-container>
  <FlexboxLayout flexDirection="column" class="details" justifyContent="center">
    <Label *ngIf="userService.dataUserDetail.userDetail"
      text="{{'BALANCE' | translate }}: {{userService.dataUserDetail.userDetail?.PlayableBalance | currency : userService.userCurrency : 'symbol-narrow'}}"></Label>
    <StackLayout orientation="horizontal">
      <Label text="{{'OPERATOR' | translate }}:"></Label>
      <Label class="operator"
        text="{{userService.dataUserDetail.userDetail?.UserName  || userService.dataUserDetail.operatorDetail?.UserName}}"></Label>
    </StackLayout>
  </FlexboxLayout>
  <GridLayout rows="*,*" columns="auto">
    <StackLayout row="0" orientation="horizontal" class="clock" verticalAlignment="center" *ngIf="notifyIcon">
      <Image stretch="aspectFit" class="clock-icon" src="~/assets/icons/baseline-access_time-24px.png"></Image>
      <Label [ngClass]="{'small': windowSizeService.windowSize.small}" text="{{ myTime | date:'HH:mm' }}"></Label>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
