<div fxFlexFill fxLayout="row" fxLayoutAlign="end center" class="user-menu">
  <div fxLayout="column">
    <!-- NOTIFICATION -->
    <button class="btn-reset toolbar icon notification counter-btn">
      <div [style.width.px]="notifyIcon.width" [style.height.px]="notifyIcon.height" class="counter-container">
        <span [style.line-height.px]="notifyIcon.height * 0.7" [style.width.px]="notifyIcon.height * 0.7"
          [style.height.px]="notifyIcon.height * 0.7" class="counter elevation-z5">2</span>
      </div>
    </button>
  </div>
  <div fxLayout="column" class="details">
    <div fxLayout="column">
      {{'Balance' | translate }}: 1.000.000.000,00
    </div>
    <div fxLayout="row">
      {{'Operator' | translate }}:<span class="operator">Operator2</span>
    </div>
  </div>
  <div fxLayout="column" class="clock elevation-z5" fxFlexAlign="start">
    {{ myTime | date:'HH:mm' }}
  </div>
</div>