<FlexboxLayout flexDirection="row" justifyContent="flex-end" class="user-menu">
  <!-- <FlexboxLayout>
   
    <button class="btn-reset toolbar icon notification counter-btn">
      <div [style.width.px]="notifyIcon.width" [style.height.px]="notifyIcon.height" class="counter-container">
        <span [style.line-height.px]="notifyIcon.height * 0.65" [style.width.px]="notifyIcon.height * 0.65"
          [style.height.px]="notifyIcon.height * 0.63" class="counter elevation-z5">2</span>
      </div>
    </button>
  </FlexboxLayout>
  <FlexboxLayout fxLayout="column" class="details">
    <div fxLayout="column">
      {{'Balance' | translate }}: 1.000.000.000,00
    </div>
    <div fxLayout="row">
      {{'Operator' | translate }}:<span class="operator">Operator2</span>
    </div>
  </FlexboxLayout>
  <FlexboxLayout flexDirection="row" class="clock" justifyContent="flex-start">
    <Image stretch="aspectFit" class="clock-icon" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-access_time-24px.png"></Image>
    <Label text="{{ myTime | date:'HH:mm' }}"></Label>
  </FlexboxLayout> -->
</FlexboxLayout>