<StackLayout>
  <!-- TEMPLATE RACE -->
  <app-playable-board-race [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.RACING && productService.product?.codeProduct === 'DOG'">
  </app-playable-board-race>
  <app-playable-board-race [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.RACING && productService.product?.codeProduct === 'HORSE'">
  </app-playable-board-race>
  <app-playable-board-race [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.RACING && productService.product?.codeProduct === 'HORSE-VIRT'">
  </app-playable-board-race>
  <!-- TEMPLATE COCK FIGHT -->
  <app-playable-board-cock-fight [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.COCK_FIGHT">
  </app-playable-board-cock-fight>
  <!-- TEMPLATE SOCCER -->
  <app-playable-board-soccer class="playable-board-soccer" [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.SOCCER">
  </app-playable-board-soccer>
  <!-- TEMPLATE KENO -->
  <app-playable-board-keno class="playable-board-keno" [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.KENO">
  </app-playable-board-keno>
  <!-- TEMPLATE COLOURS -->
  <app-playable-board-colours class="playable-board-colours" [rowHeight]="rowHeight"
    *ngIf="productService.product?.layoutProducts.type === typeLayout.COLOURS">
  </app-playable-board-colours>
  <!-- TEMPLATE AMERICAN ROULETTE -->
  <app-playable-board-american-roulette class="playable-board-americanroulette" [rowHeight]="rowHeight"
    *ngIf="productService.product.layoutProducts.type === typeLayout.AMERICANROULETTE">
  </app-playable-board-american-roulette>
</StackLayout>
