<GridLayout id='login' rows="*,4*,*" columns="*,3*,*">
  <GridLayout rows="*,2*,*,6*,4*,4*,3*,*" columns="*,10*,*" row="1" col="1" class="login-panel radius-15 padding-25">
    <StackLayout class="logo-with-text" row="1" col="1"></StackLayout>
    <!-- ADMIN OF OPERATOR -->
    <ng-container *ngIf="showOperatorLogin">
      <GridLayout row="3" col="1" rows="*" columns="*" class="display">
        <GridLayout rows="*" columns="*" class="display-content">
          <GridLayout rows="*" columns="*,8*,2*" class="input-vdesk radius-2">
            <Image col="0" src="~/assets/icons/icona-user.png" class="icon-area"></Image>
            <Label col="1" text="{{userService.getOperatorData('BusinessName')}}" verticalAlignment="center"
              horizontalAlignment="left"></Label>
            <Switch col="2" (checkedChange)="changeConnectType($event)" [checked]="connectByOperator"></Switch>
            <!-- <StackLayout col="2" class="icon-area remove-data-or-close" (tap)="removeAdmin()">
            </StackLayout> -->
          </GridLayout>
        </GridLayout>
      </GridLayout>
      <StackLayout row="3" col="1">
        <Label class="label-overlap" text="{{  'DYNAMIC_KEYS.LOGIN.' + typeLogin[typeLoginSelected]  | translate }}"
          horizontalAlignment="left"></Label>
      </StackLayout>
    </ng-container>
    <!-- username -->
    <GridLayout row="4" col="1" rows="*" columns="5,30,10,auto" class="input-vdesk radius-2"
      [ngClass]="{'error': (username.invalid || usernameLengthInvalid) && username.touched }">
      <Image col="1" src="~/assets/icons/icona-user.png" class="icon-area"></Image>
      <TextField col="3" hint="{{'USERNAME'|translate}}" (textChange)="validateLength($event, 'username', 2)"
        autocapitalizationType="none" required ngModel #username="ngModel">
      </TextField>
    </GridLayout>
    <!-- password -->
    <GridLayout row="5" col="1" rows="*" columns="5,30,10,auto" class="input-vdesk radius-2"
      [ngClass]="{'error': (password.invalid || passwordLengthInvalid)  && password.touched}">
      <Image col="1" src="~/assets/icons/icona-pwd.png" class="icon-area"></Image>
      <TextField col="3" secure="true" hint="{{'PASSWORD'|translate}}"
        (textChange)="validateLength($event, 'password', 6)" returnKeyType="done" autocapitalizationType="none"
        (returnPress)="onSubmit(username.value, password.value)" required ngModel #password="ngModel">
      </TextField>
    </GridLayout>
    <Button row="6" col="1" text="{{ 'LOGIN' | translate }}" class="button btn-default btn-success radius-2"
      [ngClass]="{'disabled': !(username.valid && password.valid && !usernameLengthInvalid && !passwordLengthInvalid)}"
      (tap)="onSubmit(username.value, password.value)"
      [isEnabled]="username.valid && password.valid && !usernameLengthInvalid && !passwordLengthInvalid">
    </Button>

    <!-- error -->
    <StackLayout row="7" col="1" orientation="vertical" class="error-message" horizontalAlignment="center"
      verticalAlignment="center">
      <GridLayout *ngIf="username.invalid && username.touched && username.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'USERNAME' | translate }} {{ 'IS_REQUIRED' | translate | lowercase  }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="usernameLengthInvalid && username.touched && !username.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'USERNAME_TOO_SHORT' | translate }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="!password.valid && password.touched && password.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'PASSWORD' | translate }} {{ 'IS_REQUIRED' | translate | lowercase  }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="passwordLengthInvalid && password.touched && !password.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'PASSWORD_TOO_SHORT' | translate }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="errorMessage" rows="auto" columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label [text]="errorMessage"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </GridLayout>
  <StackLayout row="3" colSpan="3" verticalAlignment="bottom">
    <Label class="h3 small text-right" text="Version {{versionSoftware.version}}"></Label>
  </StackLayout>
</GridLayout>
