#login {
	.login-panel {
		.logo {
			height: 60px;
			width: 100%;
			margin: 15px;
		}

		.input-area {
			margin-top: 15px;

			.input-item {
				margin: 15px 0;

				.input {
					.icon-area {
						width: 24px;
						height: 24px;
						margin: 5px 10px;
					}

					input {
						border: none;
						font-size: 14px;
						font-weight: bold;
					}
				}
			}
		}

		button {
			font-size: 14px;
			padding: 10px;
			margin-bottom: 15px;
		}

		.error-message {
			text-align: center;
			font-size: 14px;
		}
	}
}
