<GridLayout id='login' rows="*,4*,*" columns="*,3*,*">
  <GridLayout rows="*,3*,*,2*,2*,2*,3*" columns="*,10*,*" row="1" col="1" class="login-panel radius-15 padding-25">
    <StackLayout class="logo-with-text" row="1" col="1"></StackLayout>
    <!-- username -->
    <GridLayout row="3" col="1" rows="*" columns="5,30,10,auto" class="input radius-2"
      [ngClass]="{'error': (username.invalid || usernameLengthInvalid) && username.touched }">
      <StackLayout col="1" class="icon-area user-icon"></StackLayout>
      <TextField col="3" hint="{{'USERNAME'|translate}}" (textChange)="validateLength($event, 'username', 2)"
        returnKeyType="next" autocapitalizationType="none" required ngModel #username="ngModel">
      </TextField>
    </GridLayout>
    <!-- password -->
    <GridLayout row="4" col="1" rows="*" columns="5,30,10,auto" class="input radius-2"
      [ngClass]="{'error': (password.invalid || passwordLengthInvalid)  && password.touched}">
      <StackLayout col="1" class="icon-area pwd-icon"></StackLayout>
      <TextField col="3" secure="true" hint="{{'PASSWORD'|translate}}"
        (textChange)="validateLength($event, 'password', 6)" returnKeyType="done" autocapitalizationType="none"
        (returnPress)="onSubmit(username.value, password.value)" required ngModel #password="ngModel">
      </TextField>
    </GridLayout>
    <Button row="5" col="1" text="{{ 'LOGIN' | translate }}" class="button btn-default btn-success radius-2"
      [ngClass]="{'disabled': !(username.valid && password.valid && !usernameLengthInvalid && !passwordLengthInvalid)}"
      (tap)="onSubmit(username, password.value)"
      [isEnabled]="username.valid && password.valid && !usernameLengthInvalid && !passwordLengthInvalid">
    </Button>

    <!-- error -->
    <StackLayout row="6" col="1" orientation="vertical" class="error-message" horizontalAlignment="center"
      verticalAlignment="center">
      <GridLayout *ngIf="username.invalid && username.touched && username.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'USERNAME' | translate }} {{ 'ERROR_REQUIRED' | translate | lowercase  }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="usernameLengthInvalid && username.touched && !username.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'ERROR_USERNAME_TOO_SHORT' | translate }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="!password.valid && password.touched && password.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'PASSWORD' | translate }} {{ 'ERROR_REQUIRED' | translate | lowercase  }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="passwordLengthInvalid && password.touched && !password.hasError('required')" rows="auto"
        columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label text="{{ 'ERROR_PASSWORD_TOO_SHORT' | translate }}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout *ngIf="errorMessage" rows="auto" columns="5,30,10,auto">
        <StackLayout col="1" class="error-icon"></StackLayout>
        <StackLayout col="3" verticalAlignment="center">
          <Label [text]="errorMessage"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</GridLayout>
