<section id='login' fxLayout="row" fxLayoutAlign="center center">
  <div class="login-panel" fxLayout="column" fxLayoutAlign="center center">
    <img class="logo" src="/app/themes/skins/develop/image/vgen.png" />
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="input-area">
        <div class="input-item">
          <input placeholder="{{'USERNAME'|translate}}" formControlName="username" />
          <div class="error" *ngIf="form.controls.username.errors?.required">
            {{ 'USERNAME' | translate }} {{ 'ERROR_REQUIRED' | translate }}
          </div>
          <div class="error" *ngIf="form.controls.username.hasError('minlength')">
            {{ 'ERROR_USERNAME_TOO_SHORT' | translate }}
          </div>
        </div>
        <div class="input-item">
          <input placeholder="{{ 'PASSWORD' | translate }}" formControlName="password" type="password"
            autocomplete="new-password" />
          <div class="error" *ngIf="form.controls.password.errors?.required">
            {{ 'PASSWORD' | translate }} {{ 'ERROR_REQUIRED' | translate }}
          </div>
          <div class="error" *ngIf="form.controls.password.hasError('minlength')">
            {{ 'ERROR_PASSWORD_TOO_SHORT' | translate }}</div>
        </div>
      </div>
      <button class="btn-default" color="primary" type="submit">
        {{ 'LOGIN' | translate }}
      </button>
    </form>
    <div class="error-message"></div>
  </div>
</section>
