<GridLayout id='login' rows="*,4*,*" columns="*,3*,*">
  <GridLayout rows="*,3*,*,2*,2*,2*,3*" columns="*,10*,*" row="1" col="1" class="login-panel radius-15 padding-25">
    <StackLayout class="logo" row="1" col="1"></StackLayout>
    <!-- username -->
    <GridLayout row="3" col="1" rows="*" columns="5,30,10,auto" class="input radius-2">
      <StackLayout col="1" class="icon-area user-icon"></StackLayout>
      <TextField col="3" #username hint="{{'USERNAME'|translate}}" returnKeyType="next"></TextField>
    </GridLayout>
    <!-- password -->
    <GridLayout row="4" col="1" rows="*" columns="5,30,10,auto" class="input radius-2">
      <StackLayout col="1" class="icon-area pwd-icon"></StackLayout>
      <TextField col="3" secure="true" #password hint="{{'PASSWORD'|translate}}" returnKeyType="done" (returnPress)="onSubmit(username.text, password.text)"></TextField>
    </GridLayout>
    <Button row="5" col="1" text="{{ 'LOGIN' | translate }}" class="button btn-default btn-success radius-2" (tap)="onSubmit(username.text, password.text)"></Button>

    <!-- error -->
    <StackLayout row="6" col="1" orientation="vertical">
      <Label [text]="errorMessage"></Label>
    </StackLayout>
  </GridLayout>
</GridLayout>

<!-- <section> id='login' fxLayout="row" fxLayoutAlign="center center">
  <div class="login-panel radius-15 padding-25" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100"
    fxFlex.sm="80" fxFlex.lg="35" fxFlex.xl="20" fxFlex="50">
    <div class="logo"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
      <div fxLayout="row" fxLayoutAlign="center center" fxFill>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxLayout="column" fxFlex.xs="90" fxFlex.sm="50"
          fxFlex="60">
          <div class="input-area">
            <div class="input-item">
              <div class="input radius-2" fxLayout="row"
                [ngClass]="{'error': form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched)}">
                <i class="icon-area user-icon"></i>
                <input placeholder="{{'USERNAME'|translate}}" formControlName="username" class="padding-right-10" />
              </div>
            </div>
            <div class="input-item">
              <div class="input radius-2" fxLayout="row"
                [ngClass]="{'error': form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)}">
                <i class="icon-area pwd-icon"></i>
                <input placeholder="{{ 'PASSWORD' | translate }}" formControlName="password" type="password"
                  class="padding-right-10" autocomplete="new-password" />
              </div>
            </div>
          </div>
          <button class="btn-default btn-success radius-2" color="primary" type="submit">
            {{ 'LOGIN' | translate }}
          </button>
        </form>
      </div>
      <div class="error-message" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutAlign="center center"
          *ngIf="form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched)">
          <ng-container *ngIf="form.controls.username.hasError('required')">
            <i class="error-icon"></i> {{ 'USERNAME' | translate }} {{ 'ERROR_REQUIRED' | translate | lowercase }}
          </ng-container>
          <ng-container *ngIf="form.controls.username.hasError('minlength')">
            <i class="error-icon"></i> {{ 'ERROR_USERNAME_TOO_SHORT' | translate }}
          </ng-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center"
          *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
          <ng-container *ngIf="form.controls.password.hasError('required')">
            <i class="error-icon"></i> {{ 'PASSWORD' | translate }} {{ 'ERROR_REQUIRED' | translate | lowercase  }}
          </ng-container>
          <ng-container *ngIf="form.controls.password.hasError('minlength')">
            <i class="error-icon"></i> {{ 'ERROR_PASSWORD_TOO_SHORT' | translate }}
          </ng-container>
        </div>
        <ng-container *ngIf="errorMessage">
          <i class="error-icon"></i> {{ errorMessage }}
        </ng-container>
      </div>
    </div>
  </div>
</section> -->
