<section id='error-page' fxLayout="row" fxLayoutAlign="center center">
  <div class="panel radius-15 padding-25" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="80"
    fxFlex.lg="35" fxFlex.xl="20" fxFlex="50">
    <div class="logo"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
      <div fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div class="message-area"></div>
        <button class="btn-default btn-success radius-2" color="primary">
          {{ 'HOME' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
