<div class="widgets" fxFlexFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="6px">
  <button [style.height.px]="widgetIcon.height" [style.width.px]="widgetIcon.width" class="btn-reset widget-btn">
    <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/widget.png">
  </button>
  <button [style.height.px]="widgetIcon.height" [style.width.px]="widgetIcon.width" class="btn-reset widget-btn">
    <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/widget.png">
  </button>
</div>