<GridLayout rows="*" columns="*">
  <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="center">
    <Image stretch="aspectFit" [width]="widgetIcon.width" [height]="widgetIcon.height" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-assessment-24px.png"
      [isEnabled]="!timeBlocked"></Image>
    <Image stretch="aspectFit" [width]="widgetIcon.width" [height]="widgetIcon.height" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-assignment-24px.png"
      [isEnabled]="!timeBlocked"></Image>
    <Image stretch="aspectFit" [width]="widgetIcon.width" [height]="widgetIcon.height" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-find_in_page-24px.png"
      [isEnabled]="!timeBlocked"></Image>
  </StackLayout>
</GridLayout>