<GridLayout row="3" columns="*,*,*,*,*,*" class="special-box lucky-race">
  <Button margin="3" col="1" cornerRadius="5" text="{{'AMERICANROULETTE.SILVER' | translate | uppercase}}"
    class="button btn-grey-gradient" (tap)="onSelected(smart.RS, 725)"></Button>
  <Button margin="3" col="2" cornerRadius="5" text="{{'AMERICANROULETTE.GOLD' | translate | uppercase}}"
    class="button btn-grey-gradient" (tap)="onSelected(smart.RG, 725)"></Button>
  <Button margin="3" col="3" cornerRadius="5" text="{{'AMERICANROULETTE.AMERICANA' | translate | uppercase}}"
    class="button btn-grey-gradient" (tap)="onSelected(smart.RA, 725)"></Button>
  <Button margin="3" col="4" cornerRadius="5" text="{{'AMERICANROULETTE.SMALL' | translate | uppercase}}"
    class="button btn-grey-gradient" (tap)="onSelected(smart.RM, 725)"></Button>
</GridLayout>
