<app-event-control-standard fxFill [eventControlDetails]="eventControlService.eventControlDetails" *ngIf="productService.product.layoutProducts.type === eventControlService.typeLayout.RACING
     || productService.product.layoutProducts.type === eventControlService.typeLayout.COCK_FIGHT
     || productService.product.layoutProducts.type === eventControlService.typeLayout.SOCCER
     || productService.product.layoutProducts.type === eventControlService.typeLayout.KENO">
</app-event-control-standard>
