.operators{

  .title {
    font-size: 20;
    font-weight: bold;
    margin-left: 10;
    vertical-align: center;
  }
  .display {
    margin: 10;
    padding: 4;
    background-color: transparent;

    .display-content {
      margin: 5;

      .btn-filter {
        margin: 4 2;
      }

      .field-title {
        font-size: 16;
      }
    }
    button {
      padding: 0;
      margin: 0;
      font-size: 10;


    }
  }
  .label-overlap {
    margin-left: 25;
    padding: 0 6;
  }
  .button-create-new{
    font-size: 14;
    font-weight: 700;

  }


  .input-vdesk {
    margin: 0;
    font-size: 12;
  }
}
