<mat-grid-list cols="1" rowHeight="{{(rowHeight-1) / 2}}">
  <mat-grid-tile rowspan="2">
    <div class="display" fxFlexFill>
      <div class="card-title">
        <h3 class="title">
          <span class="text">{{ 'coupon' | translate }} </span>
          <span class="icon icon-baseline-remove_shopping_cart-24px" (click)="couponService.resetCoupon()"></span>
        </h3>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <div class="sub-display">
      <div class="card-title">
        <h5 class="title">{{ 'tabCoupon' | translate }}</h5>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <div class="btn-coupon-board" fxLayout="row">
      <button class="display btn btn-default">{{'single' | translate}}</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="14">
    <div class="content-row-coupon" fxFill fxLayout="column" fxLayoutAlign="start stretch">
      <ng-container *ngIf="couponService.coupon">
        <div *ngFor="let odd of listOdds" class="card-odd-container" fxFlex="20">
          <div fxFill class="card-odd radius-5" fxLayout="column" fxLayoutAlign="space-between stretch">
            <div class="top-window" fxLayoutAlign="space-between center">
              <div>{{odd.EventName}}</div>
              <div>#{{odd.MatchId}}</div>
            </div>
            <div class="row" fxLayout="row">
              <div fxFlex="80" fxLayoutAlign="start center">
                {{odd.MarketName}} - ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})
              </div>
              <div fxFlex="20" class="odd radius-5" fxLayoutAlign="center center">
                {{odd.OddValue | number: '1.2-2'}}
              </div>
            </div>
            <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="40" class="stake radius-5">
                {{odd.OddStake | number: '1.2-2'}}
              </div>
              <div fxFlex="10" class="remove radius-5" fxLayoutAlign="center center">
                R
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <div class="display-amount radius-5">
      <label>
        <span>{{'potentialMaxWinner' | translate}}</span>
        <input type="text" name="winner" value="10.000.000 COP" readonly />
      </label>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <div fxFill class="padding-top-10">
      <button class="btn-default btn-success radius-10 padding-10">{{'piazza' | translate}}</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
