<GridLayout columns="*" rows="*,15*,2*,2*,2*" class="grid-coupon">
  <GridLayout row="0" cornerRadius="6" class="m-b-2">
    <GridLayout rows="*" columns="4*,*" class="display" verticalAlignment="center">
      <StackLayout col="0" orientation="horizontal" class="title" verticalAlignment="center" horizontalAlignment="left">
        <Label text="{{ 'COUPON' | translate | uppercase }}" textTransform="uppercase"
          verticalAlignment="center"></Label>
      </StackLayout>
      <Label col="1" class="indicator-odds-number radius-50" [ngClass]="{'small': windowSizeService.windowSize.small}"
        text="{{ couponService.coupon ? couponService.coupon.Odds.length : 0 }}" verticalAlignment="center"
        textAlignment="center"></Label>
    </GridLayout>
  </GridLayout>

  <GridLayout row="1"
    *ngIf="couponService.coupon && !couponService.coupon.internal_isLottery && !couponService.coupon.internal_isColours">
    <GridLayout rows="2*,6*,6*,6*,6*,{{ windowSizeService.windowSize.small ? '' : '6*,' }}2*" columns="*"
      *ngIf="couponService.coupon" [ngClass]="{'small': windowSizeService.windowSize.small}">
      <!-- Paginator -->
      <GridLayout row="0" columns="*,2*,*" class="card-odd scroll" (tap)="previusOdds()"
        [ngClass]="{'disabled': page <= 0}" [isEnabled]="page > 0 && !userService.isModalOpen">
        <Image col="1" width="20" src="~/assets/icons/Up.png" verticalAlignment="center">
        </Image>
        <StackLayout col="2" horizontalAlignment="right" verticalAlignment="center">
          <Label class="indicator-scroll counter" *ngIf="(page * maxItems) > 0" [text]="page * maxItems"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout row="{{ windowSizeService.windowSize.small ? 5 : 6 }}" columns="*,2*,*" class="card-odd scroll"
        (tap)="nextOdds()" [ngClass]="{'disabled': page >= maxPage - 1}"
        [isEnabled]="page < maxPage - 1 && !userService.isModalOpen">
        <Image col="1" width="20" src="~/assets/icons/Down.png" verticalAlignment="center">
        </Image>
        <StackLayout col="2" horizontalAlignment="right" verticalAlignment="center">
          <Label class="indicator-scroll counter"
            *ngIf="(couponService.coupon.Odds.length - ((page + 1) * maxItems)) > 0"
            [text]="couponService.coupon.Odds.length - ((page + 1) * maxItems)"></Label>
        </StackLayout>
      </GridLayout>
      <!-- Coupon items -->
      <ng-container *ngIf="couponService?.coupon?.internal_isAmericanRoulette">
        <!-- ITEMS  AMERICANROULETTE -->
        <GridLayout row="{{ 1 + i }}" rows="8*,6*" columns="*" class="card-odd"
          *ngFor="let odd of listOdds; let i = index;"
          [ngClass]="{'card-odd-error': !couponService.warningMessage && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}">
          <ng-container *ngIf="couponLayout && couponLayout.acceptMultiStake">
            <GridLayout row="0" rows="*" columns="*,*" class="row" verticalAlignment="center">
              <Label col="0" text="{{odd.MarketName}}" verticalAlignment="center" horizontalAlignment="left"
                textWrap="true"></Label>
              <StackLayout col="1" width="30" height="30" horizontalAlignment="right" verticalAlignment="center"
                class="btn-keno-number btn-colours btn-default radius-50 btn-colours-{{getNumber(odd.SelectionName)}}"
                *ngIf="odd.MarketTypeId === market.StraightUp">
                <Label text="{{odd.SelectionName}}" horizontalAlignment="center" verticalAlignment="center"></Label>
              </StackLayout>
              <StackLayout col="1" horizontalAlignment="right" verticalAlignment="center" class="aroulette-values-bold"
                *ngIf="odd.MarketTypeId !== market.StraightUp">
                <Label text="{{odd.SelectionName}}" horizontalAlignment="center" verticalAlignment="center"
                  textWrap="true"></Label>
              </StackLayout>
            </GridLayout>
            <GridLayout row="1" col="0" columns="*,2*,*" class="row" verticalAlignment="center">
              <StackLayout col="0" class="button" width="100%"
                [ngClass]="{'btn-success' : !couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId ,
        'btn-selected' : couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId }" [isEnabled]="!userService.isModalOpen"
                (tap)="checkOddToChangeStake(odd)" horizontalAlignment="center" verticalAlignment="center">
                <Label class="stake"
                  *ngIf="!couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId"
                  text="{{odd.OddStake | number: '1.2-3'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
                <Label class="stake"
                  *ngIf="couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId"
                  text="{{couponService.oddStakeEdit.tempStake | number: '1.2-3'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
              </StackLayout>
              <StackLayout margin="2" col="1" horizontalAlignment="center">
                <Label text="X {{odd.OddValue | number: '1.2-2'}}" class="aroulette-values-bold"></Label>
              </StackLayout>
              <StackLayout col="2" class="button btn-warning" (tap)="removeOdd(odd)"
                [isEnabled]="!userService.isModalOpen" horizontalAlignment="right">
                <Image stretch="aspectFit" width="26" src="~/assets/icons/baseline-delete_outline-white-24px.png"
                  verticalAlignment="center" horizontalAlignment="center"></Image>
              </StackLayout>
            </GridLayout>
          </ng-container>
          <!-- COUPON NO MULTISTAKE-->
          <ng-container *ngIf="couponLayout && !couponLayout.acceptMultiStake">
            <GridLayout rowSpan="2" row="1" rows="*,*" columns="7*,2*" class="row">
              <StackLayout rowSpan="2" col="0" verticalAlignment="center">
                <Label verticalAlignment="center"
                  text="{{odd.MarketName}} - ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})"
                  horizontalAlignment="left" textWrap="true"></Label>
              </StackLayout>
              <StackLayout row="0" col="1" horizontalAlignment="right" verticalAlignment="center">
                <Label class="odd" text="{{odd.OddValue | number: '1.2-2'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
              </StackLayout>
              <StackLayout row="1" col="1" class="btn-warning button" (tap)="removeOdd(odd)"
                [isEnabled]="!userService.isModalOpen" horizontalAlignment="right">
                <Image stretch="aspectFit" width="26" src="~/assets/icons/baseline-delete_outline-white-24px.png"
                  verticalAlignment="center" horizontalAlignment="center"></Image>
              </StackLayout>
            </GridLayout>
          </ng-container>
        </GridLayout>

      </ng-container>
      <ng-container *ngIf="!couponService?.coupon?.internal_isAmericanRoulette">
        <GridLayout row="{{ 1 + i }}" rows="3*,8*,6*" columns="*" class="card-odd"
          *ngFor="let odd of listOdds; let i = index;"
          [ngClass]="{'card-odd-error': !couponService.warningMessage && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}">
          <GridLayout row="0" col="*,*" class="top-window">
            <Label col="0" *ngIf="couponLayout && couponLayout.typeLayout === layoutProduct.SOCCER"
              horizontalAlignment="left" text="{{ listOdds[0].DefaultTournamentName +' - '+odd.EventName}}"></Label>
            <Label col="0" *ngIf="couponLayout && couponLayout.typeLayout !== layoutProduct.SOCCER"
              text="{{odd.EventName}}" horizontalAlignment="left"></Label>
            <Label col="1" text="#{{odd.MatchId}}" horizontalAlignment="right"></Label>
          </GridLayout>
          <!-- COUPON MULTISTAKE-->
          <ng-container *ngIf="couponLayout && couponLayout.acceptMultiStake">
            <GridLayout row="1" rows="*" columns="7*,2*" class="row" verticalAlignment="center">
              <Label col="0"
                text="{{odd.MarketName}} - ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})"
                horizontalAlignment="left" textWrap="true"></Label>
              <StackLayout col="1" horizontalAlignment="right">
                <Label class="odd" text="{{odd.OddValue | number: '1.2-2'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
              </StackLayout>
            </GridLayout>
            <GridLayout row="2" col="0" columns="*,*" class="row" verticalAlignment="center">
              <StackLayout col="0" class="button" width="100%"
                [ngClass]="{'btn-success' : !couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId ,
          'btn-selected' : couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId }" [isEnabled]="!userService.isModalOpen"
                (tap)="checkOddToChangeStake(odd)" horizontalAlignment="center" verticalAlignment="center">
                <Label class="stake"
                  *ngIf="!couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId"
                  text="{{odd.OddStake | number: '1.2-3'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
                <Label class="stake"
                  *ngIf="couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId"
                  text="{{couponService.oddStakeEdit.tempStake | number: '1.2-3'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
              </StackLayout>
              <StackLayout col="1" class="button btn-warning" (tap)="removeOdd(odd)"
                [isEnabled]="!userService.isModalOpen" horizontalAlignment="right">
                <Image stretch="aspectFit" width="26" src="~/assets/icons/baseline-delete_outline-white-24px.png"
                  verticalAlignment="center" horizontalAlignment="center"></Image>
              </StackLayout>
            </GridLayout>
          </ng-container>
          <!-- COUPON NO MULTISTAKE-->
          <ng-container *ngIf="couponLayout && !couponLayout.acceptMultiStake">
            <GridLayout rowSpan="2" row="1" rows="*,*" columns="7*,2*" class="row">
              <StackLayout rowSpan="2" col="0" verticalAlignment="center">
                <Label verticalAlignment="center"
                  text="{{odd.MarketName}} - ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})"
                  horizontalAlignment="left" textWrap="true"></Label>
              </StackLayout>
              <StackLayout row="0" col="1" horizontalAlignment="right" verticalAlignment="center">
                <Label class="odd" text="{{odd.OddValue | number: '1.2-2'}}" horizontalAlignment="center"
                  verticalAlignment="center"></Label>
              </StackLayout>
              <StackLayout row="1" col="1" class="btn-warning button" (tap)="removeOdd(odd)"
                [isEnabled]="!userService.isModalOpen" horizontalAlignment="right">
                <Image stretch="aspectFit" width="26" src="~/assets/icons/baseline-delete_outline-white-24px.png"
                  verticalAlignment="center" horizontalAlignment="center"></Image>
              </StackLayout>
            </GridLayout>
          </ng-container>
        </GridLayout>
      </ng-container>
    </GridLayout>
  </GridLayout>
  <!--COUPON LOTTERY -->
  <GridLayout row="1" *ngIf="couponService.coupon?.internal_isLottery || couponService.coupon?.internal_isColours">
    <GridLayout columns="*,*" rows="*,*,*,*,*,*,*,*" *ngIf="couponService.coupon"
      [ngClass]="{'small': windowSizeService.windowSize.small}">
      <!-- Coupon items -->
      <ng-container *ngIf="listOdds.length === 1 &&
        (listOdds[0].MarketName === colourGameId[colourGameId.hilo] ||
        listOdds[0].MarketName.substring(0, listOdds[0].MarketName.length - 1) === colourGameId[colourGameId.rainbow]) ||
        listOdds[0].MarketName === colourGameId[colourGameId.totalcolour];
        else elseTemplateNumbers">
        <!-- single mode selection -->
        <GridLayout col="0" colspan="2" row="i" rows="*" columns="*" class="card-odd card-keno"
          *ngFor="let odd of listOdds; let i = index;"
          [ngClass]="{'card-odd-error': !couponService.warningMessage && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}">
          <ng-container>
            <GridLayout row="0" rows="*" columns="2*,*,*" class="row" verticalAlignment="center">
              <ng-container
                *ngIf="listOdds[0].MarketName === colourGameId[colourGameId.hilo]; else elseOtherColoursTemplate">
                <StackLayout col="0" class="btn-game-selector selected btn-default coupon-selection radius-5"
                  verticalAlignment="center">
                  <Label verticalAlignment="center" text="{{listOdds[0].SelectionName | uppercase | translate}}"
                    horizontalAlignment="center" textWrap="true"></Label>
                </StackLayout>
              </ng-container>
              <ng-template #elseOtherColoursTemplate>
                <ng-container
                  *ngIf="listOdds[0].MarketName === colourGameId[colourGameId.totalcolour]; else elseTemplate">
                  <StackLayout col="0" verticalAlignment="center"
                    class="btn-colours btn-default radius-50 btn-colours-{{getTotalColour(listOdds[0].SelectionName)}}">
                    <Label verticalAlignment="center"
                      text="{{ getTotalColourSelectionName(listOdds[0].SelectionName) | uppercase }}"
                      horizontalAlignment="center" textWrap="true"></Label>
                  </StackLayout>
                </ng-container>
                <ng-template #elseTemplate>
                  <StackLayout col="0" verticalAlignment="center"
                    class="btn-keno-number btn-colours btn-default radius-50 btn-colours-{{getRainbowColour(listOdds[0].MarketName)}}">
                    <Label verticalAlignment="center" text="{{ listOdds[0].SelectionName }}"
                      horizontalAlignment="center" textWrap="true"></Label>
                  </StackLayout>
                </ng-template>
              </ng-template>
              <StackLayout col="2" class="btn-warning button" (tap)="removeOddByLottery(odd)"
                [isEnabled]="!userService.isModalOpen" horizontalAlignment="right" verticalAlignment="center">
                <Image stretch="aspectFit" width="38" src="~/assets/icons/baseline-delete_outline-white-24px.png"
                  verticalAlignment="center" horizontalAlignment="center"></Image>
              </StackLayout>
            </GridLayout>
          </ng-container>
        </GridLayout>

      </ng-container>
      <ng-template #elseTemplateNumbers>
        <!-- Numbers mode -->
        <GridLayout col="{{ i % 2 == 0 ? 0 : 1 }}" row="{{ Math.floor(i/2) }}" rows="*" columns="*"
          class="card-odd card-keno" *ngFor="let odd of listOdds; let i = index;"
          [ngClass]="{'card-odd-error': !couponService.warningMessage && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}">
          <ng-container>
            <GridLayout row="0" rows="*" columns="10*,*,5*" class="row" verticalAlignment="center">
              <ng-container *ngIf="couponLayout.typeLayout === layoutProduct.COLOURS; else simpleNumberTemplate">
                <StackLayout col="0" verticalAlignment="center"
                  class="btn-keno-number btn-colours btn-default radius-50 btn-colours-{{getNumberColour(odd.SelectionName)}}">
                  <Label verticalAlignment="center" text="{{ odd.SelectionName }}" horizontalAlignment="center"
                    textWrap="true"></Label>
                </StackLayout>
              </ng-container>
              <ng-template #simpleNumberTemplate>
                <StackLayout col="0" verticalAlignment="center"
                  class="btn-keno-number btn-default btn-selected radius-50">
                  <Label verticalAlignment="center" text="{{ odd.SelectionName }}" horizontalAlignment="center"
                    textWrap="true"></Label>
                </StackLayout>
              </ng-template>

              <StackLayout col="2" class="btn-warning button" (tap)="removeOddByLottery(odd)"
                [isEnabled]="!userService.isModalOpen" horizontalAlignment="right" verticalAlignment="center">
                <Image stretch="aspectFit" width="38" src="~/assets/icons/baseline-delete_outline-white-24px.png"
                  verticalAlignment="center" horizontalAlignment="center"></Image>
              </StackLayout>
            </GridLayout>
          </ng-container>
        </GridLayout>
      </ng-template>
    </GridLayout>
  </GridLayout>
  <!-- /COUPON LOTTERY -->
  <!-- Total stake -->
  <GridLayout row="2" rows="*,3*" columns="*" class="card display-amount">
    <Label row="0" text="{{'TOTAL_STAKE' | translate}}" class="title"
      [ngClass]="{'small': windowSizeService.windowSize.small}" textTransform="uppercase"></Label>
    <Label row="1"
      [text]="couponService.stakeDisplay.TotalStake | currency : userService.userCurrency : 'symbol-narrow'"
      class="amount" [ngClass]="{'small': windowSizeService.windowSize.small}"></Label>
  </GridLayout>
  <!-- Max potential win -->
  <GridLayout row="3" rows="*,3*" columns="*" class="card display-amount">
    <Label row="0" text="{{'MAX_POTENTIAL_WIN' | translate}}" class="title"
      [ngClass]="{'small': windowSizeService.windowSize.small}" textTransform="uppercase"></Label>
    <Label row="1"
      [text]="couponService.stakeDisplay.MaxWinning | currency : userService.userCurrency : 'symbol-narrow'"
      class="amount" [ngClass]="{'small': windowSizeService.windowSize.small}"></Label>
  </GridLayout>
  <!-- BUTTONS -->
  <GridLayout row="4" rows="*" columns="*,*,3*" class="card"
    *ngIf="couponService.coupon && !couponService.coupon.internal_isReadyToPlace || !couponService.coupon">
    <!--DELETE COUPON-->
    <FlexboxLayout col="0" margin="2 2" alignContent="center" justifyContent="center"
      class="button btn-default button-internal btn-warning" [isEnabled]="!userService.isModalOpen && !couponService.processingOddsQueue"
      [ngClass]="{'disabled': couponService.processingOddsQueue}"
      (tap)="clearCoupon()">
      <Image stretch="aspectFit" width="24px" height="24px" src="~/assets/icons/baseline-delete_outline-white-24px.png"
        verticalAlignment="center" horizontalAlignment="center"></Image>
    </FlexboxLayout>
    <!--DIALOG INFO COUPON -->
    <FlexboxLayout col="1" margin="2 2" alignContent="center" justifyContent="center"
      [isEnabled]="!userService.isModalOpen" class="button btn-dark-gradient" (tap)="openDialog()">
      <Image stretch="aspectFit" width="24px" height="24px" src="~/assets/icons/baseline-open_in_new-24-white.png"
        verticalAlignment="center" horizontalAlignment="center">
      </Image>
    </FlexboxLayout>
    <!-- PLACE -->
    <Button col="2" margin="2 2" text="{{'COUPON.BET' | translate}}"
      class="button btn-default btn-success button-internal" textTransform="uppercase"
      [ngClass]="{'disabled': couponService.error || couponService.isWaitingConclusionOperation || couponService.processingOddsQueue}"
      [isEnabled]="!timeBlocked && !couponService.error && !couponService.isWaitingConclusionOperation && !userService.isModalOpen && !isBetDisabledForColoursDrangn() && !couponService.processingOddsQueue"
      (tap)="couponService.preStagedCoupon()"></Button>

  </GridLayout>
  <GridLayout row="5" rows="*" columns="*,*" class="card"
    *ngIf="couponService.coupon && couponService.coupon.internal_isReadyToPlace">
    <GridLayout col="0" rows="*" columns="*" class="button left btn-default btn-warning"
      [ngClass]="{'disabled': couponService.error}">
      <Button text="{{'back' | translate}}" class="button-internal" textTransform="uppercase"
        [isEnabled]="!timeBlocked && !couponService.error && !userService.isModalOpen"
        (tap)="couponService.cancelStagingCoupon()"></Button>
    </GridLayout>
    <GridLayout col="1" rows="*" columns="*" class="button right btn-default btn-success"
      [ngClass]="{'disabled': couponService.error}">
      <Button text="{{'CONFIRM' | translate}}" class="button-internal" textTransform="uppercase"
        [isEnabled]="!timeBlocked && !couponService.error && !userService.isModalOpen"
        (tap)="couponService.stagedCoupon()"></Button>
    </GridLayout>
  </GridLayout>
</GridLayout>