<GridLayout columns="*" rows="2*,*,*,14*,2*,2*">
  <CardView row="0" elevation="5" radius="10" class="card">
    <GridLayout rows="*" columns="*" class="" class="display">
      <StackLayout orientation="horizontal" class="title" verticalAlignment="center" horizontalAlignment="center">
        <Label text="{{ 'coupon' | translate }}" textTransform="uppercase" verticalAlignment="center"></Label>
        <Image stretch="aspectFit" width="30" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-remove_shopping_cart-24px.png"
          verticalAlignment="center"></Image>
      </StackLayout>
    </GridLayout>
  </CardView>
  <CardView row="1" elevation="5" radius="10" class="card">
    <GridLayout rows="*" columns="*" class="sub-display">
      <StackLayout class="title" verticalAlignment="center" horizontalAlignment="center">
        <Label text="{{ 'tabCoupon' | translate }}"></Label>
      </StackLayout>
    </GridLayout>
  </CardView>
  <GridLayout row="2" rows="*" columns="*,*" class="card display btn-coupon-board">
    <Label col="0" text="{{'single' | translate}}" class="left" textAlignment="center" textTransform="uppercase"></Label>
    <Label col="1" text="{{'multiple' | translate}}" class="right actived" textAlignment="center" textTransform="uppercase"></Label>
  </GridLayout>
  <StackLayout row="3" verticalAlignment="center" horizontalAlignment="center">
    <Label text="CONTENT COUPONS"></Label>
  </StackLayout>
  <CardView row="4" elevation="0" radius="10" class="card">
    <GridLayout rows="*,3*" columns="*" class="display-amount">
      <Label row="0" text="{{'potentialMaxWinner' | translate}}" class="title" textTransform="uppercase"></Label>
      <Label row="1" text="10.000.000 COP" class="amount"></Label>
    </GridLayout>
  </CardView>
  <Button row="5" text="{{'piazza' | translate}}" class="card btn-success button" textTransform="uppercase"></Button>
</GridLayout>