.display{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    .card-title{
        .title{
            font-weight: 600;
            text-transform: uppercase;
            font-size: 2.8vh;
            margin: 0;

            .icon{
               width: 2.2vh;
            }
        }
    }

}
.sub-display{
    padding: 3px;
    width: 100%;
    justify-content: center;
    text-align: center;
    .card-title{
        .title{
            font-weight: 600;
            font-size: 1.8vh;
            margin: 0;
        }
    }
}

.btn-coupon-board {
    width: 100%;

    button{
        display: inline;
        margin: 0;
        padding:5px;
        font-size: 0.9em;
        text-transform: uppercase;
        &.btn:nth-child(1){
            border-radius: 4px 0px 0px 4px;
        }
        &.btn:nth-child(2){
            border-radius:0px  4px  4px  0px;
        }
    }
}

.content-row-coupon {

  .card-odd {
    padding: 5px;

    .top-window {
        height: 20px;
        font-size: 12px;
        padding: 2px 6px;
    }

    .first-row {
        padding: 5px;
    }

    .stake {
        padding: 2px;
        width: 40%;
        margin: 5px;
        text-align: center;
    }
    .odd {
      padding: 2px 6px;
      margin: 2px;
  }

    &.notSelected {
        opacity: 0.2;
    }
  }
}
