<mat-grid-list cols="1" rowHeight="{{(rowHeight-1) / 2}}">
  <mat-grid-tile rowspan="2">
    <div class="display" fxFlexFill>
      <div class="card-title" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="title">
          <div fxFlex>
            <span class="text">{{ 'coupon' | translate }} </span>
          </div>
          <div>
            <button class="btn-reset btn-display" (click)="couponService.resetCoupon()">
              <span class="icon icon-baseline-remove_shopping_cart-24px"></span>
            </button>
          </div>
        </h3>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <div class="sub-display">
      <div class="card-title">
        <h5 class="title">{{ 'tabCoupon' | translate }}</h5>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <div class="btn-coupon-board" fxLayout="row">
      <button class="display btn btn-default">{{'single' | translate}}</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="14">
    <div class="content-row-coupon" fxFill fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2px">
      <ng-container *ngIf="couponService.coupon">
        <button fxFlex="5" class="btn-reset card-odd radius-5 scroll" (click)="previusOdds()" [disabled]="page <= 0">
          <div fxFlex="30"></div>
          <div fxFlex="40">
            <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/Up.svg">
          </div>
          <div fxFlex="30">
            <div *ngIf="(page * maxItems) > 0" class="indicator-scroll counter">
              {{page * maxItems}}
            </div>
          </div>
        </button>
        <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch">
          <div *ngFor="let odd of listOdds" class="card-odd-container" fxFlex="20">
            <div fxFill class="card-odd radius-5" fxLayout="column" fxLayoutAlign="space-between stretch">
              <div class="top-window" fxLayoutAlign="space-between center">
                <div>{{odd.EventName}}</div>
                <div>#{{odd.MatchId}}</div>
              </div>
              <div class="row" fxLayout="row">
                <div fxFlex="80" fxLayoutAlign="start center">
                  {{odd.MarketName}} - ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})
                </div>
                <div fxFlex="20" class="odd radius-5" fxLayoutAlign="center center">
                  {{odd.OddValue | number: '1.2-2'}}
                </div>
              </div>
              <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="40" class="stake radius-5">
                  {{odd.OddStake | number: '1.2-2'}}
                </div>
                <div fxFlex="15" class="remove radius-5" fxLayoutAlign="center center">
                  <span class="icon icon-baseline-remove_shopping_cart-24px"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button fxFlex="5" class="btn-reset card-odd radius-5 scroll" (click)="nextOdds()" [disabled]="page >= maxPage - 1" fxLayout="row">
          <div fxFlex="30"></div>
          <div fxFlex="40">
            <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/Down.svg">
          </div>
          <div fxFlex="30">
            <div *ngIf="(couponService.coupon.Odds.length - ((page + 1) * maxItems)) > 0" class="indicator-scroll counter">
              {{couponService.coupon.Odds.length - ((page + 1) * maxItems)}}
            </div>
          </div>
        </button>
      </ng-container>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <div class="display-amount radius-5">
      <label>
        <span>{{'potentialMaxWinner' | translate}}</span>
        <input type="text" name="winner" value="10.000.000 COP" readonly />
      </label>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <div fxFill class="padding-top-10">
      <button class="btn-default btn-success radius-10 padding-10">{{'piazza' | translate}}</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
