<mat-grid-list cols="1" rowHeight="{{(rowHeight-1) / 2}}">
  <mat-grid-tile rowspan="1">
    <div class="display" fxFlexFill>
      <div class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="title" fxFlex>
          <span class="text">{{ 'coupon' | translate }}</span>
        </h3>
        <button class="btn-reset btn-display btn-warning radius-5" (click)="clearCoupon()"
          fxLayoutAlign="center center">
          <span class="icon icon-baseline-remove_shopping_cart-24px"></span>
        </button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <div class="btn-coupon-board">
      <div class="display" fxLayoutAlign="space-around center" fxLayout="row layout-wrap">
        <div fxFlex fxLayoutAlign="start center" class="coupon-type-indicator">
          <span class="btn btn-default">{{'SINGLE' | translate}}</span>
          <span
            class="indicator-odds-number radius-50">{{ couponService.coupon ? couponService.coupon.Odds.length : 0 }}</span>
        </div>
        <div fxFlex="15">
          <button class="btn-reset btn-display btn-dark-gradient radius-5" (click)="openDialog()">
            <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/baseline-open_in_new-24-white.png">
          </button>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="14">
    <div class="content-row-coupon" fxFill fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2px">
      <ng-container *ngIf="couponService.coupon">
        <button fxFlex="5" class="btn-reset card-odd radius-5 scroll" (click)="previusOdds()" [disabled]="page <= 0">
          <div fxFlex="30"></div>
          <div fxFlex="40">
            <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/Up.svg">
          </div>
          <div fxFlex="30">
            <div *ngIf="(page * maxItems) > 0" class="indicator-scroll counter">
              {{page * maxItems}}
            </div>
          </div>
        </button>
        <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch">
          <div *ngFor="let odd of listOdds" class="card-odd-container" fxFlex="20">
            <div fxFill class="card-odd radius-5"
              [ngClass]="{'card-odd-error': !couponService.warningMessages && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}"
              fxLayout="column" fxLayoutAlign="space-between stretch">
              <div fxFlex="24" class="top-window radius-5-tl-tr" fxLayoutAlign="space-between center">
                <div>{{odd.EventName}}</div>
                <div>#{{odd.MatchId}}</div>
              </div>
              <div fxFlex="38" class="row" fxLayout="row">
                <div fxFlex="78" fxLayoutAlign="start center">
                  {{odd.MarketName}} -
                  ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})
                </div>
                <div fxFlex="22" class="odd radius-5" fxLayoutAlign="center center">
                  {{odd.OddValue | number: '1.2-2'}}
                </div>
              </div>
              <div fxFlex="38" class="row" fxLayout="row" fxLayoutAlign="space-between stretch">
                <button fxFlex="40" class="btn-default stake radius-5" fxLayoutAlign="center center"
                  [ngClass]="{'btn-success' : !couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId ,
                  'btn-selected ' : couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId }" (click)="checkOddToChangeStake(odd)">
                  <span
                    *ngIf="!couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId">{{odd.OddStake | number: '1.2-3'}}</span>
                  <span
                    *ngIf="couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId">{{couponService.oddStakeEdit.tempStake | number: '1.2-3'}}</span>
                </button>
                <div fxFlex="16" fxLayoutAlign="end center">
                  <button class="btn-default btn-warning radius-5 remove" (click)="removeOdd(odd)">
                    <div class="icon"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button fxFlex="5" class="btn-reset card-odd radius-5 scroll" (click)="nextOdds()"
          [disabled]="page >= maxPage - 1" fxLayout="row">
          <div fxFlex="30"></div>
          <div fxFlex="40">
            <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/Down.svg">
          </div>
          <div fxFlex="30">
            <div *ngIf="(couponService.coupon.Odds.length - ((page + 1) * maxItems)) > 0"
              class="indicator-scroll counter">
              {{couponService.coupon.Odds.length - ((page + 1) * maxItems)}}
            </div>
          </div>
        </button>
      </ng-container>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <div class="display display-message radius-5"
      [ngClass]="{'display-error': couponService.error && !couponService.warningMessages, 'display-warning': couponService.warningMessages}">
      <label *ngIf="couponService.error && !couponService.warningMessages" fxLayout="column" fxFlex>
        <span>{{'ERROR' | translate | uppercase}}</span>
        <div fxLayout="row" fxLayoutAlign="center start" fxFlex>
          {{"DYNAMIC_KEYS.COUPON_ERROR." + couponService.error.message | translate}} <ng-container
            *ngIf="couponService.error.detail">(Limit:
            {{couponService.error.detail}})</ng-container>
        </div>
      </label>
      <label *ngIf="couponService.warningMessages" fxLayout="column" fxFlex>
        <span>{{'WARNING' | translate | uppercase}}</span>
        <div fxLayout="row" fxLayoutAlign="center start" fxFlex>
          {{"DYNAMIC_KEYS.COUPON_WARNING." + couponService.warningMessages | translate}}
        </div>
      </label>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <div class="display-amount radius-5">
      <label>
        <span>{{'MAX_POTENTIAL_WIN' | translate}}</span>
        <input type="text" name="winner" [ngModel]="couponService.stakeDisplay.MaxWinning |number: '1.2-2'" readonly />
      </label>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2"
    *ngIf="couponService.coupon && !couponService.coupon.internal_isReadyToPlace || !couponService.coupon">
    <div fxFill class="padding-top-10">
      <button class="btn-default btn-success radius-10 padding-10" [disabled]="couponService.error"
        (click)="couponService.preStagedCoupon()">{{'COUPON.BET' | translate | uppercase}}</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" *ngIf="couponService.coupon && couponService.coupon.internal_isReadyToPlace">
    <div fxFill fxLayoutGap="10px">
      <div fxFill fxFlex="50" class="padding-top-10">
        <button class="btn-default btn-warning radius-10 padding-10" [disabled]="couponService.error"
          (click)="couponService.cancelStagingCoupon()">{{'back' | translate | uppercase}}</button>
      </div>
      <div fxFill fxFlex="50" class="padding-top-10">
        <button class="btn-default btn-success radius-10 padding-10" [disabled]="couponService.error"
          (click)="couponService.stagedCoupon()">{{'conferma' | translate | uppercase}}</button>
      </div>
    </div>
  </mat-grid-tile>
  <!-- IMAGES FOR PRINTING DO NOT SHOWING ON DOM -->
  <img class="logo-print-coupon noshow" id="logo-no-print" />
  <img src="/assets/images/separator-coupon.jpg" class="noshow" />
</mat-grid-list>
