<GridLayout rows="*" columns="*,4*" *ngIf="soccerService.tournament" class="card playable-grid-buttons">
  <!-- MATCHES COLUMN -->
  <GridLayout col="0" rows="*,2*,2*,2*,2*,2*,2*,2*,2*,2*,2*" class="column-matches">
    <Label row="0" text="{{ 'EVENTS' | translate }}" horizontalAlignment="center" class="section-identifier"></Label>
    <ng-container *ngFor="let match of soccerService.tournament.matches; let i = index">
      <GridLayout row="{{i + 1}}" columns="*,*,4*" [ngClass]="{'playable-row-tile--active': match.isDetailOpened}"
        [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen" (tap)="openEventDetails(i)"
        class="playable-row-tile--soccer display radius-5" marginBottom="5">
        <Label col="0" text="{{ i + 1 }}" textAlignment="center" class="badge"
          [ngClass]="match.hasOddsSelected ? 'badge--on' : 'badge--off'"></Label>
        <Label col="1" verticalAlignment="center" class="icon"
          [ngClass]="match.isVideoShown ? 'video-enabled-icon' : 'video-disabled-icon'"></Label>
        <Label class="match-name" col="2" verticalAlignment="center" horizontalAlignment="center" text="{{ match.name }}"></Label>
      </GridLayout>
    </ng-container>
  </GridLayout>

  <!-- ODDS AREA -->
  <StackLayout col="1" class="column-selections">
    <!-- TOURNAMENT'S OVERVIEW -->
    <app-overview [rowHeight]="rowHeight" *ngIf="soccerService.selectedMatch < 0"></app-overview>
    <!-- EVENT'S DETAIL -->
    <app-detail [rowHeight]="rowHeight" *ngIf="soccerService.selectedMatch >= 0"></app-detail>
  </StackLayout>
</GridLayout>
