.playable-grid-buttons {
	margin: 2 0;

	.card {
		margin: 3;

		.playable-row-tile {
			font-size: 28;
		}
		.btn-default-dog-play {
			font-size: 36;
			&.button {
				border-radius: 4;
				padding: -2;
			}
		}
	}

	&.playable-special-bets {
		.special-bet {
			margin: 3 4;
			.button {
				border-radius: 4;
        padding: -2;
        font-size: 13;
			}
		}
	}

	&.playable-grid-repeat {
		.card-x {
			margin: 2 3 0;
			.button-internal {
				padding: 0;
			}
		}
	}
}
