.playable-board-soccer {
	.playable-grid-buttons {
		// .mat-figure {
		// 	align-items: flex-start !important;
		// }

		.column-matches,
		.column-selections {
			.section-identifier {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.3vh;
			}
		}

		.column-selections {
			.btn-soccer-odd,
			.btn-soccer-area {
				padding: 5px 10px;
				border: 0;

				.btn-soccer-odd__details,
				.btn-soccer-area__details {
					&--name {
						font-weight: bold;
						text-transform: uppercase;
						width: 100%;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}

				.btn-soccer-area__details {
					&--name {
						display: block;
						text-align: left;
					}

					&--icon {
						height: 30px;
						width: 30px;
					}
				}

				.btn-soccer-odd__details--second_line {
					display: flex;

					.btn-soccer-odd__details--icon {
						height: 16px;
						width: 16px;
					}
				}
			}
		}
	}
}
