.playable-board-soccer {
	.playable-grid-buttons {
		margin: 0 5;

		.mat-figure {
			align-items: flex-start !important;
		}

		.column-matches,
		.column-selections {
			.section-identifier {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12;
			}
		}

		.column-selections {
			font-size: 10;

			.btn-soccer-odd,
			.btn-soccer-area {
				padding: 1 3;
				border: 0;

				.btn-soccer-odd__details--name,
				.btn-soccer-area__details--name {
					font-weight: bold;
					text-transform: uppercase;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				.btn-soccer-area__details {
					&--name {
						display: block;
						text-align: left;
					}

					&--icon {
						height: 4;
						width: 4;
					}
				}
			}
		}
	}
}
