.playable-board-soccer {
	.playable-grid-buttons {
		margin: 0 5;

		.mat-grid-tile-content {
			align-items: flex-start !important;
		}

		.column-matches,
		.column-selections {
			.section-identifier {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 9;
			}
		}

		.column-matches {
			font-size: 9;
			.match-name,
			.badge {
				font-size: 9;
			}
		}

		.column-selections {
			font-size: 9;

			.btn-soccer-odd {
				&.disabled {
					opacity: 0.5;
				}
			}

			.btn-soccer-odd,
			.btn-soccer-area {
				padding: 1 3;
				border: 0;
				border-radius: 4;

				.btn-soccer-odd__details,
				.btn-soccer-area__details {
					&--name {
						font-weight: bold;
						text-transform: uppercase;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					&--icon {
						height: 23;
						width: 23;
					}
				}

				.btn-soccer-area__details {
					&--name {
						display: block;
						text-align: left;
					}
				}
			}
		}
	}
}
