<GridLayout rows="*,8*,*,8*,*,8*,*" columns="15*,*,15*,*,15*,*,15*,*,15*,*,15*">
    <ng-container *ngFor="let colour of [Colour.RED, Colour.BLUE, Colour.GREEN]; let r = index;">
        <ng-container *ngFor="let coloursNumber of getColouredRow(colour); let c = index;">
            <FlexBoxLayout row="{{ (r * 2) + 1 }}" col="{{(c * 2)}}" flexDirection="column" justifyContent="center"
                alignItems="center" class="btn-default btn-colours rainbow radius-15 btn-colours-{{Colour[colour]}}"
                [ngClass]="{'selected': coloursNumber.isSelected, 'disabled': isDisabled(coloursNumber) }"
                [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen && !isDisabled(coloursNumber)"
                (tap)="selectColourNumber(coloursNumber)">
                <StackLayout
                    *ngIf="waitingSelection?.name !== coloursNumber.name || waitingSelection?.colour !== coloursNumber.colour"
                    horizontalAlignment="center">
                    <Label horizontalAlignment="center"
                        text="{{ coloursNumber.name + (c > 0 && c < 5 ? '+' : '') }}"></Label>
                </StackLayout>
                <StackLayout
                    *ngIf="waitingSelection?.name === coloursNumber.name && waitingSelection?.colour === coloursNumber.colour">
                    <ActivityIndicator busy="true" width="50" height="50"></ActivityIndicator>
                </StackLayout>
            </FlexBoxLayout>
        </ng-container>
    </ng-container>
</GridLayout>