<div fxFill fxLayout="row" class="race-control" fxLayoutAlign="start center">
  <div fxFlex="28"></div>
  <div fxFlex="28">
    <span class="game-name">{{ 'dogRacingLabel' | translate }}</span>
  </div>
  <div fxFlex="42" *ngIf="dogracingService.raceDetails.races[dogracingService.raceDetails.currentRace] != null"
    fxLayout="column" fxFlexAlign="stretch" fxLayoutAlign="space-around end">
    <div class="current-race">{{ dogracingService.raceDetails.races[dogracingService.raceDetails.currentRace].label }}
      <span *ngIf="settings.showRaceId" class="number">#{{
        dogracingService.raceDetails.races[dogracingService.raceDetails.currentRace].number }}</span>
    </div>
    <div class="time elevation-z5" fxLayout="row" fxLayoutAlign="center center">
      <div class="icon-baseline-timer-24px"></div>
      {{ dogracingService.raceDetails.raceTime.minute | number: '2.0-0' }}:{{
      dogracingService.raceDetails.raceTime.second | number: '2.0-0' }}
    </div>
  </div>
</div>