.game-name {
    font-size: 5vh;
    font-weight: 900;
    line-height: 3.5vw;
}

.current-race {
    font-size: 3.5vh;
    font-weight: 900;
}

.time {  
    font-size: 4vh;
    font-weight: 900;
    padding: 4px 14px;

    .icon-baseline-timer-24px {
        width: 4vh;
        height: 4vh;
        margin-right: 10px;
    }
}