<FlexboxLayout flexDirection="row" alignItems="flex-start">
    <!-- MENU -->
    <Image class="menu" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-menu-24px.png"
    stretch="aspectFit" nsRouterLink="/admin"></Image>
    <!-- LOGO -->
    <Image class="logo" src="~/app/themes/skins/{{settings.theme}}/image/Logo-header.png" stretch="aspectFit"></Image>
    <!-- BUTTONS -->
    <ng-container  *ngFor="let prod of settings.products">
      <StackLayout *ngIf="prod.isPlayable" class="prod" (tap)="productSelecting(prod)"
      [ngClass]="{'selected': prod.productSelected}">
          <Image src="~/app/themes/skins/{{settings.theme}}/icon/{{prod.toolbarButton.icon}}.png" stretch="aspectFit"
              class="radius-5"></Image>
      </StackLayout>
    </ng-container>
</FlexboxLayout>
