<div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
    <!-- MENU -->
    <button [style.width.px]="menuIcon.width" [style.height.px]="menuIcon.height" class="btn-reset toolbar menu">
        <img class="icon" src="assets/image/hamburger.png">
    </button>
    <!-- LOGO -->
    <img class="toolbar logo" [style.height.px]="logoIcon.height" src="app/themes/skins/{{settings.theme}}/image/logo.png">
    <!-- BUTTONS -->
    <button *ngFor="let prod of settings.products" [style.width.px]="buttonIcon.width" [style.height.px]="buttonIcon.height"
        class="btn-reset toolbar btn icon" [ngClass]="{'selected': prod.name == btnSelected}">
        <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/{{prod.toolbarButton.icon}}.png">
    </button>
</div>