#printing {
	background: white;
	color: #000;

	.header {
		.logo-print-coupon {
			margin-bottom: 5;
		}

		.header-content {
			border-width: 1;
		}
	}

	.sub-title {
		background-color: black;
		color: white;
	}

	.header-margin {
		margin: 10 0 10 0;
	}
}
