// Bets list:
app-summary-coupons {
	height: 100%;
}

app-details-coupon {
	height: 100%;
}

app-summary {
	height: 100%;
}

app-events {
	height: 100%;
}

app-combinations {
	height: 100%;
}

// Transaction list:
app-summary-transactions {
	height: 100%;
}

app-details-transaction {
	height: 100%;
}
