.admin-panel-container {
	padding: 15 10;
	margin-top: 10;

	&.logout {
		.btn-admin {
			margin-top: 0;
			height: 30;
		}
	}

	.btn-admin {
		height: 30;
		margin-top: 10;
	}

	.txt-title {
		font-weight: bold;
		font-size: 20;
		text-transform: uppercase;
		margin-left: 5;
		&.txt-title-btn {
			font-size: 17;
		}
	}
}
