<GridLayout columns="3*,2*,2*,2*,2*,2*,2*,2*,2*,2*,2*,3*" rows="2*,2*,2*,2*,2*,2*,2*,2*" col="1" row="0">
  <ng-container *ngFor="let kenoNumber of kenoTable">
    <StackLayout col="{{ kenoNumber.col + 1 }}" row="{{ kenoNumber.row - 1 }}" class="radius-50 btn-default-keno"
      [ngClass]="{'selected' : kenoNumber.isSelected}" (tap)="onNumberClick(kenoNumber)" verticalAlignment="center"
      horizontalAlignment="center">
      <Label *ngIf="!numberSelectionQueue.includes(kenoNumber)" text="{{ kenoNumber.number }}"
        verticalAlignment="center" horizontalAlignment="center"></Label>
      <stackLayout *ngIf="numberSelectionQueue.includes(kenoNumber)">
        <ActivityIndicator busy="true" width="35" height="35">
        </ActivityIndicator>
      </stackLayout>
    </StackLayout>
  </ng-container>
</GridLayout>
