<GridLayout columns="*,8*,*" rows="*">
  <GridLayout columns="2*,2*,2*,2*,2*,2*,2*,2*,2*,2*" rows="2*,2*,2*,2*,2*,2*,2*,2*" col="1" row="0">
    <ng-container *ngFor="let kenoNumbersPerRow of kenoTable; let i = index">
      <ng-container *ngFor="let kenoNumber of kenoNumbersPerRow; let j = index">
        <Button col="{{ j }}" row="{{ i }}" text="{{ kenoNumber.number }}" class="radius-50 btn-default-keno "
          [ngClass]="{'selected' : kenoNumber.isSelected}" (tap)="onNumberClick(kenoNumber)"></Button>
      </ng-container>
    </ng-container>
  </GridLayout>
</GridLayout>
