<GridLayout rows="*,2*,3*,*,*" class="dialog">
  <Label row="1" class="title title-tns text-center" text="{{ 'COUPON_RESET' | translate }}"></Label>
  <Label row="2" class="description text-center p-15" text="{{ 'CONFIRM_DESTROY_COUPON.MESSAGE' | translate }}"></Label>
  <!-- BUTTONS CONTROL -->
  <GridLayout row="3" rows="*" columns="*,*,2*,2*,*,*">
    <Button margin="2 2" col="2" class="btn btn-default btn-success radius-10" (tap)="destroy.selectedOperation(true)"
      text="{{'CONFIRM' | translate}}" textTransform="uppercase"></Button>
    <Button margin="2 2" col="3" class="btn btn-default btn-warning radius-10" (tap)="destroy.selectedOperation(false)"
      text="{{'DELETE' | translate}}" textTransform="uppercase"></Button>
  </GridLayout>
</GridLayout>
