<GridLayout rows="*,3*,12*,2*" columns="*" class="vboxs vboxs-edit">
  <Label row="0" col="0" class="title"
    text="{{'VBOX.MANAGEMENT' | translate | uppercase}} - {{'EDIT' | translate | uppercase }}" textWrap="true"
    verticalAlignment="center"></Label>
  <GridLayout row="1" rows="*" columns="*,2*,2*,5*" class="card header">
    <Image col="0" stretch="aspectFit" width="35" [nsRouterLink]="['../']"
      src="~/assets/icons/baseline-arrow_back-24px.png" verticalAlignment="center" horizontalAlignment="left"
      class="m-l-5"></Image>
    <StackLayout col="1" verticalAlignment="center" horizontalAlignment="left">
      <Label class="sub-title" text="{{ 'V-Box' | translate }}"></Label>
      <Label text="{{ vboxService.vBoxSelected.VBoxMachineId }}" textWrap="true"></Label>
    </StackLayout>
    <StackLayout col="2" verticalAlignment="center">
      <Label class="sub-title" text="{{ 'TV' | translate }}"></Label>
      <Label text="{{ vboxService.vBoxSelected.MonitorConfigurations.length  }}" textWrap="true"></Label>
    </StackLayout>
  </GridLayout>
  <StackLayout row="2">
    <GridLayout rows="2*,8*" columns="10*,3*">
      <!-- LANGUAGE -->
      <GridLayout row="0" col="0" rows="*" columns="*" class="display display-trasparent">
        <GridLayout col="0" rows="*" columns="*">
          <StackLayout col="0" row="0" class="display-content" orientation="horizontal">
            <StackLayout *ngFor="let language of languages" class="button-language button btn-default btn-filter"
              [ngClass]="{'btn-filter-success': vboxService.vBoxSelected.language === language}">
              <Button text="{{ languageEnum[language] }}" class="button-internal"
                (tap)="changeLanguage(language)"></Button>
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </GridLayout>
      <StackLayout row="0" col="0">
        <Label class="label-overlap" text="{{ 'LANGUAGE' | translate }}" horizontalAlignment="left"></Label>
      </StackLayout>
      <!-- /LANGUAGE -->
      <!-- TV -->
      <GridLayout row="1" col="0" rows="*" columns="*" class="display display-trasparent">
        <GridLayout col="0" rows="*" columns="*">
          <StackLayout col="0" row="0" class="display-content" orientation="horizontal" verticalAlignment="top">
            <StackLayout *ngFor="let tv of vboxService.vBoxSelected.MonitorConfigurations; let i = index;"
              class="button-small button btn-default btn-filter"
              [ngClass]="{'btn-filter-success': vboxService.vBoxSelected.vBoxMonitorSelectedIdx === i}"
              (tap)="selectTVConfiguration(i, tv)">
              <Label horizontalAlignment="center" text="{{ 'TV' | translate | uppercase }} {{ i+1 }}"></Label>
              <Label horizontalAlignment="center" class="small-text" text="{{  (tv.CategoryType ? 'DYNAMIC_KEYS.VBOX.CATEGORIES_SPORT.'+tv.CategoryType  : 'NOBODY' ) |
                translate | uppercase}}"></Label>
            </StackLayout>
          </StackLayout>
        </GridLayout>
      </GridLayout>
      <StackLayout row="1" col="0">
        <Label class="label-overlap" text="{{ 'TV' | translate }}" horizontalAlignment="left"></Label>
      </StackLayout>
      <!-- /TV -->
      <!-- SPORT -->
      <GridLayout row="0" col="1" rowSpan="2" rows="*" columns="*" class="display display-trasparent">
        <GridLayout col="0" rows="*" columns="*">
          <StackLayout col="0" row="0" class="display-content" orientation="vertical">
            <ng-container *ngIf="vboxService.vBoxSelected.AvailableCategoryTypes && configSelected">
              <Button verticalAlignment="center" class="button-sport button btn-default btn-filter"
                [ngClass]="{'btn-filter-success': configSelected.CategoryType === null}" (tap)="onChangeSportToTv()"
                text="{{'NOBODY' | translate }}">
              </Button>
              <Button verticalAlignment="center"
                *ngFor="let category of vboxService.vBoxSelected.AvailableCategoryTypes; let i = index;"
                class="button-sport button btn-default btn-filter"
                [ngClass]="{'btn-filter-success': configSelected.CategoryType === category.CategoryType}"
                (tap)="onChangeSportToTv(category)"
                text="{{'DYNAMIC_KEYS.VBOX.CATEGORIES_SPORT.'+category.CategoryType | translate }}">
              </Button>
            </ng-container>
          </StackLayout>
        </GridLayout>
      </GridLayout>
      <StackLayout row="0" col="1">
        <Label class="label-overlap" text="{{ 'SPORT' | translate }}" horizontalAlignment="left"></Label>
      </StackLayout>
      <!-- /SPORT -->
    </GridLayout>
  </StackLayout>
  <GridLayout row="3" columns="10*, 2*" class="m-r-10 m-b-5">
    <GridLayout col="0" row="0" columns="*,10*">
      <ng-container *ngIf="changeDataOngoing">
        <Label col="0" class="warning-icon" width="24" height="24" verticalAlignment="center"></Label>
        <Label col="1" text="{{'VBOX.EDIT_ONGOING' | translate }}" verticalAlignment="center"></Label>
      </ng-container>
      <ng-container *ngIf="saveDataStatus === status.Success">
        <Label col="0" class="success-icon" width="24" height="24" verticalAlignment="center"></Label>
        <Label col="1" text="{{'VBOX.SUCCESS_MESSAGE_EDIT_TV' | translate }}" verticalAlignment="center"></Label>
      </ng-container>
      <ng-container *ngIf="saveDataOngoing && saveDataStatus !== status.Success">
        <Label col="0" class="success-icon" width="24" height="24" verticalAlignment="center"></Label>
        <Label col="1" text="{{'VBOX.ERROR_MESSAGE_EDIT_TV' | translate }}" verticalAlignment="center"></Label>
      </ng-container>
    </GridLayout>
    <Button row="0" col="1" text="{{ 'CONFIRM' | translate | uppercase }}"
      class="button btn-default btn-success-no-gradient radius-2" (tap)="onSaveData()" [isEnabled]="changeDataOngoing">
    </Button>
  </GridLayout>
</GridLayout>
