.game-name {
	font-size: 14;
	font-weight: 900;
	&.small {
		font-size: 11;
	}
}

.current-race {
	font-size: 14;
  font-weight: 900;
	&.small {
		font-size: 11;
	}
}
.number {
	font-size: 11;
	font-weight: 600;
}

.time {
	.time-panel {
		padding: 2 3;
		font-size: 11;
		font-weight: 500;
		.small {
			font-size: 8;
		}
	}
}
