<GridLayout *ngIf="mainService.eventDetails?.eventTime" [ngClass]="eventControlDetails?.productImageClass" rows="*"
  columns="7*,60*,40*" class="race-control">

  <!-- TITLE PRODUCT -->
  <StackLayout col="1" verticalAlignment="center" orientation="horizontal">
    <Label class="game-name" [ngClass]="{'small': eventControlDetails?.isWindowSizeSmall}"
      text="{{ 'DYNAMIC_KEYS.PRODUCT.LABEL.'+ eventControlDetails?.productName | translate}}" textTransform="uppercase"
      textWrap="true" verticalAlignment="center"></Label>
    <!-- TITLE EVENT'S SELECTED -->
    <Label class="m-l-5 current-race" [ngClass]="{'small': eventControlDetails?.isWindowSizeSmall}"
      text="{{ eventControlDetails?.eventLabel }}" horizontalAlignment="left" verticalAlignment="center"></Label>
    <!-- /TITLE EVENT'S SELECTED -->
    <!-- TITLE EVENT SELECTED ID -->
    <Label col="1" *ngIf="eventControlDetails?.showEventId" class="m-l-5 number" text="#{{
              eventControlDetails?.eventNumber }}" verticalAlignment="center" horizontalAlignment="left"></Label>
    <!-- /TITLE EVENT SELECTED ID -->
  </StackLayout>
  <!-- /TITLE PRODUCT -->
  <!-- TIMER -->
  <StackLayout col="2" shadow="5" class="m-r-2 time" horizontalAlignment="right" verticalAlignment="center">
    <StackLayout orientation="horizontal" class="time-panel" verticalAlignment="center">
      <Image height="24" stretch="aspectFit" class="m-r-4" src="~/assets/icons/baseline-timer-24px.png"
        verticalAlignment="center">
      </Image>
      <Label text="
          {{
            (mainService.eventDetails?.eventTime?.minute !== undefined) ?
            (mainService.eventDetails?.eventTime?.minute | number: '2.0-0') :
            '00'
          }}:{{
            (mainService.eventDetails?.eventTime?.second !== undefined) ?
            (mainService.eventDetails?.eventTime?.second | number: '2.0-0') :
            '00'
          }}" verticalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  <!-- /TIMER -->
</GridLayout>
