<div fxFlex fxLayout="column">
  <!-- TOOLBAR-->
  <div class="toolbar" fxFlex fxLayout="row">
    <app-header fxFlexFill></app-header>
  </div>
  <!--PRODUCT CONTAINER-->
  <div class="product" fxFlex="94" fxLayout="row">
    <div class="product-container" fxLayout="column" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
    <div class="product-calc" fxLayout="column" fxFlex="20">
      <mat-grid-list cols="1" rowHeight="{{rowHeight}}">
        <!-- Area widget [Variabile] -->
        <mat-grid-tile rowspan="1">
          <app-widget fxFlexFill [rowHeight]="rowHeight"></app-widget>
        </mat-grid-tile>
        <!-- Area polifunzionale / Smartcode -->
        <mat-grid-tile rowspan="1">
          <app-dispay fxFlexFill [rowHeight]="rowHeight"></app-dispay>
        </mat-grid-tile>
        <!-- Area di gioco avanzata [VARIABILE] -->
        <mat-grid-tile rowspan="1">
          <span>Area di gioco avanzata</span>
        </mat-grid-tile>
        <!-- Area inserimento [Fissa] -->
        <mat-grid-tile rowspan="6">
          <app-btncalc></app-btncalc>
        </mat-grid-tile>
        <!-- VINCITA POTENZIALE MASSIMA -->
        <mat-grid-tile rowspan="2">
          <span>VINCITA POTENZIALE MASSIMA</span>
        </mat-grid-tile>
        <!-- Area polifunzionale [Fissa]  -->
        <mat-grid-tile rowspan="1">
          <span>Area polifunzionale</span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="product-coupon" fxLayout="column" fxFlex="20">
      this is coupon area
    </div>
  </div>
</div>