<!--PRODUCT CONTAINER-->
<GridLayout columns="60*,20*,20*" rows="*" class="product">
  <GridLayout col="0" rows="3*,13*,2*" columns="*" class="product-container padding-left-6 padding-right-3">
    <!-- Gameboard area -->
    <StackLayout row="0" rowSpan="3">
      <router-outlet></router-outlet>
    </StackLayout>
    <!-- Dialog polyfunctional area-->
    <GridLayout row="1" *ngIf="dialog.showDialog">
      <app-product-dialog [data]="dialog.dialogData"></app-product-dialog>
    </GridLayout>
    <!-- Dialog pay/cancel-->
    <GridLayout row="1" *ngIf="couponDialogService.showDialog">
      <app-pay-cancel-dialog></app-pay-cancel-dialog>
    </GridLayout>
    <!-- Dialog destroy coupon -->
    <GridLayout row="1" *ngIf="service.destroyCouponService.showDialog">
      <app-confirm-destroy-coupon></app-confirm-destroy-coupon>
    </GridLayout>
  </GridLayout>
  <GridLayout col="1" class="product-calc padding-right-3">
    <GridLayout rows="*,2*,3*,2*,12*,2*" columns="*">
      <!-- Widget area [Variable] -->
      <StackLayout row="0">
        <app-widget [rowHeight]="rowHeight" [product]="service.product" [timeBlocked]="service.timeBlocked">
        </app-widget>
      </StackLayout>
      <!-- Coupon message area -->
      <GridLayout row="1" rows="*,3*" columns="*" cornerRadius="6" class="display m-b-5"
        *ngIf="!couponService.error && !couponService.warningMessage && !couponService.isASuccess && !couponService.isWaitingConclusionOperation">
      </GridLayout>
      <GridLayout row="1" rows="*" columns="*, 5*" cornerRadius="6" class="display-message display-warning m-b-5"
        *ngIf="couponService.isWaitingConclusionOperation && !couponService.isASuccess && !couponService.error && !couponService.warningMessage">
        <Image col="0" width="25" src="~/app/themes/skins/{{settings.theme}}/icon/progress-alert.png"
          horizontalAlignment="center" verticalAlignment="center">
        </Image>
        <Label col="1" text="{{ 'BET_UNDER_EVALUATION' | translate }}" class="message"
          [ngClass]="{'small': service.windowSize.small}" horizontalAlignment="center" verticalAlignment="center"
          textWrap="true"></Label>
      </GridLayout>
      <GridLayout row="1" rows="*" columns="*, 5*" cornerRadius="6" class="display-message display-success m-b-5"
        *ngIf="couponService.isASuccess">
        <Image col="0" width="25" src="~/app/themes/skins/{{settings.theme}}/icon/baseline_check_white_18dp.png"
          horizontalAlignment="center" verticalAlignment="center">
        </Image>
        <StackLayout col="1" class="p-r-5 p-t-5 p-b-5" horizontalAlignment="center" verticalAlignment="center">
          <Label col="1" text="{{ 'COUPON_SUCCESS_PLACEMENT_MESSAGE.INTRODUCTION' | translate }}" class="message"
            [ngClass]="{'small': service.windowSize.small}" textWrap="true"></Label>
          <Label text="{{ 'COUPON_SUCCESS_PLACEMENT_MESSAGE.MESSAGE' | translate }}" class="message"
            [ngClass]="{'small': service.windowSize.small}" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout row="1" rows="*" columns="*, 5*" cornerRadius="6" class="display-message display-error m-b-5"
        *ngIf="couponService.error && !couponService.isASuccess && !couponService.warningMessage">
        <Image col="0" width="25" src="~/app/themes/skins/{{settings.theme}}/icon/baseline_error_white_18dp.png"
          horizontalAlignment="center" verticalAlignment="center">
        </Image>
        <StackLayout col="1" class="p-r-5 p-t-5 p-b-5" horizontalAlignment="center" verticalAlignment="center">
          <Label
            text="{{'DYNAMIC_KEYS.COUPON_ERROR_INTRODUCTION.MessageSource.' + messageSource[couponService.error.source] | translate}}"
            class="message" [ngClass]="{'small': service.windowSize.small}"></Label>
          <StackLayout orientation="horizontal">
            <Label *ngIf="!couponService.error.detail"
              text="{{ 'DYNAMIC_KEYS.COUPON_ERROR.' + couponService.error.message | translate }}" class="message"
              [ngClass]="{'small': service.windowSize.small}" textWrap="true"></Label>
            <Label *ngIf="couponService.error.detail"
              text="{{ 'DYNAMIC_KEYS.COUPON_ERROR.' + couponService.error.message | translate }} ({{ 'LIMIT' | translate }}: {{ couponService.error.detail | currency : userService.userCurrency : 'symbol-narrow' }})"
              class="message" [ngClass]="{'small': service.windowSize.small}" textWrap="true"></Label>
          </StackLayout>
        </StackLayout>
      </GridLayout>
      <GridLayout row="1" rows="*" columns="*, 5*" cornerRadius="6" class="display-message display-warning m-b-5"
        *ngIf="couponService.warningMessage && !couponService.isASuccess">
        <Image col="0" width="25" src="~/app/themes/skins/{{settings.theme}}/icon/baseline_warning_black_18dp.png"
          horizontalAlignment="center" verticalAlignment="center">
        </Image>
        <StackLayout col="1" class="p-r-5 p-t-5 p-b-5" horizontalAlignment="center" verticalAlignment="center">
          <Label text="{{'WARNING' | translate}}" class="title" [ngClass]="{'small': service.windowSize.small}"
            textTransform="uppercase"></Label>
          <Label text="{{'DYNAMIC_KEYS.COUPON_WARNING.' + couponService.warningMessage | translate}}" class="amount"
            [ngClass]="{'small': service.windowSize.small}" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <!-- Polyfunctional area / Smartcode -->
      <StackLayout row="2">
        <app-display [timeBlocked]="service.timeBlocked"></app-display>
      </StackLayout>
      <!-- Advanced game area [Variable] -->
      <StackLayout row="3">
        <GridLayout rows="*" columns="*" class="card">
          <app-advance-game [timeBlocked]="service.timeBlocked"></app-advance-game>
        </GridLayout>
      </StackLayout>
      <!-- Keyboard -->
      <StackLayout row="4">
        <app-btncalc [rowHeight]="rowHeight" [timeBlocked]="service.timeBlocked"></app-btncalc>
      </StackLayout>
      <!-- Payment/cancellation coupon area -->
      <GridLayout row="5" rows="*" columns="*,*" class="card">
        <GridLayout col="0" rows="*" columns="*" class="button left btn-success">
          <Button text="{{'PAY' | translate}}" class="button-internal" textTransform="uppercase"
            [isEnabled]="!service.timeBlocked" (tap)="payCancelCoupon(dialogTypeCoupon.PAY)"></Button>
        </GridLayout>
        <GridLayout col="1" rows="*" columns="*" class="button right btn-warning">
          <Button text="{{'DELETE' | translate}}" class="button-internal" textTransform="uppercase"
            [isEnabled]="!service.timeBlocked" (tap)="payCancelCoupon(dialogTypeCoupon.CANCEL)"></Button>
        </GridLayout>
      </GridLayout>
    </GridLayout>
  </GridLayout>
  <GridLayout col="1" class="overlay radius-5" marginRight="3" *ngIf="service.timeBlocked">
    <StackLayout verticalAlignment="center">
      <Image stretch="aspectFit" width="60" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-lock-24px.png"
        horizontalAlignment="center" verticalAlignment="center">
      </Image>
    </StackLayout>
  </GridLayout>
  <!-- Coupon area -->
  <StackLayout col="2" class="product-coupon padding-right-6">
    <app-coupon [timeBlocked]="service.timeBlocked"></app-coupon>
  </StackLayout>
  <GridLayout col="2" class="overlay radius-5" marginRight="6" *ngIf="service.timeBlocked">
    <StackLayout verticalAlignment="center">
      <Image stretch="aspectFit" width="60" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-lock-24px.png"
        horizontalAlignment="center" verticalAlignment="center">
      </Image>
    </StackLayout>
  </GridLayout>
</GridLayout>
