<div fxFlex fxLayout="column">
  <!-- TOOLBAR-->
  <div class="toolbar" fxFlex fxLayout="row">
    <app-header fxFlexFill></app-header>
  </div>
  <!--PRODUCT CONTAINER-->
  <div class="product" fxFlex="93" fxLayout="row">
    <div class="product-container" fxLayout="column" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
    <div class="product-calc" fxLayout="column" fxFlex="21">
      <mat-grid-list cols="1" rowHeight="{{rowHeight}}">
        <!-- Area widget [Variabile] -->
        <mat-grid-tile rowspan="1">
          <app-widget fxFlexFill [rowHeight]="rowHeight"></app-widget>
        </mat-grid-tile>
        <!-- Area polifunzionale / Smartcode -->
        <mat-grid-tile rowspan="1">
          <app-dispay fxFlexFill [rowHeight]="rowHeight"></app-dispay>
        </mat-grid-tile>
        <!-- Area di gioco avanzata [VARIABILE] -->
        <mat-grid-tile rowspan="1">
          <app-advance-game fxFlexFill></app-advance-game>
        </mat-grid-tile>
        <!-- Area inserimento [Fissa] -->
        <mat-grid-tile rowspan="6">
          <app-btncalc [rowHeight]="rowHeight"></app-btncalc>
        </mat-grid-tile>
        <!-- VINCITA POTENZIALE MASSIMA -->
        <mat-grid-tile rowspan="1">
          <div class="potential-winner radius-5">
            <label>
              VINCITA POTENZIALE MASSIMA
              <input type="text" name="winner" value="10.000.000 COP" readonly />
            </label>
          </div>

        </mat-grid-tile>
        <!-- Area polifunzionale [Fissa]  -->
        <mat-grid-tile rowspan="1">
          <button class="btn-default btn-success radius-10 padding-10">PAGA</button>
          <button class="btn-default btn-warning radius-10 padding-10">ANNULLA</button>

        </mat-grid-tile>

      </mat-grid-list>
    </div>
    <div class="product-coupon" fxLayout="column" fxFlex="20">
      <mat-grid-list cols="1" rowHeight="{{rowHeight}}">
        <app-coupon [rowHeight]="rowHeight"></app-coupon>
      </mat-grid-list>

    </div>
  </div>
</div>