<div fxFlex fxLayout="column">
  <!-- TOOLBAR-->
  <!--div class="toolbar" fxFlex="7" fxLayout="row">
      <app-header fxFlexFill></app-header>
    </div> -->
  <!--PRODUCT CONTAINER-->
  <div class="product" fxFlex="93" fxLayout="row">
    <div class="product-container" fxLayout="column" fxFlex>
      <router-outlet></router-outlet>
    </div>
    <div class="product-calc" fxLayout="column" fxFlex="21">
      <mat-grid-list cols="1" rowHeight="{{rowHeight}}">
        <!-- Area widget [Variabile] -->
        <mat-grid-tile rowspan="1">
          <app-widget fxFlexFill [rowHeight]="rowHeight" class="padding-horizontal-6"></app-widget>
        </mat-grid-tile>
        <!-- Area polifunzionale / Smartcode -->
        <mat-grid-tile rowspan="1">
          <app-display fxFlexFill [rowHeight]="rowHeight" class="padding-horizontal-6"></app-display>
        </mat-grid-tile>
        <!-- Area di gioco avanzata [VARIABILE] -->
        <mat-grid-tile rowspan="1">
          <app-advance-game fxFlexFill class="padding-horizontal-6"></app-advance-game>
        </mat-grid-tile>
        <!-- Area inserimento [Fissa] -->
        <mat-grid-tile rowspan="6">
          <app-btncalc [rowHeight]="rowHeight"></app-btncalc>
        </mat-grid-tile>
        <!-- VINCITA POTENZIALE MASSIMA -->
        <mat-grid-tile rowspan="1">
          <div fxFlexFill class="padding-horizontal-6">
            <div class="display-amount radius-5" fxLayout="column" fxLayoutAlign="right" fxLayoutAlignGap="10px">
              <!-- <div fxFlex fxLayoutAlign="center right">
                  <span>{{'amountPlace' | translate}}</span>
              </div>
              <div fxFlex>
                <ng-container *ngIf="couponService.stakeDisplay.TotalStake">
                  <input type="text" name="amount"  [ngModel]="couponService.stakeDisplay.TotalStake | number: '1.2-2'" readonly />
                </ng-container>
                <ng-container *ngIf="!couponService.stakeDisplay.TotalStake">
                    <span>0.00</span>
                </ng-container>

              </div> -->
              <label>
                  <span>{{'amountPlace' | translate}}</span>
                  <input type="text" name="amount" [ngModel]="couponService.stakeDisplay.TotalStake |number: '1.2-2'" readonly />
              </label>
            </div>
          </div>
        </mat-grid-tile>
        <!-- Area polifunzionale [Fissa]  -->
        <mat-grid-tile rowspan="1" class="polifuctional-area">
          <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <button class="btn-default btn-success radius-10 padding-10">PAGA</button>
            <button class="btn-default btn-warning radius-10 padding-10">ANNULLA</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
    <div class="product-coupon" fxFlexFill fxLayout="column" fxFlex="20">
      <app-coupon fxFlexFill [rowHeight]="rowHeight" class="padding-horizontal-6"></app-coupon>
    </div>
  </div>
</div>

<div *ngIf="service.timeBlocked" id="overlayArea2" [style.top.px]="service.windowSize.height - service.windowSize.columnHeight + 4"
  [style.left.%]="59" [style.width]="'calc(21% - 2px)'" [style.height.px]="service.windowSize.columnHeight - 10" class="overlay radius-5"></div>
<div *ngIf="service.timeBlocked" id="overlayArea3" [style.top.px]="service.windowSize.height - service.windowSize.columnHeight + 4 "
  [style.left.%]="80" [style.width]="'calc(20% - 2px)'" [style.height.px]="service.windowSize.columnHeight - 10" class="overlay radius-5"></div>
