<GridLayout shadow="3" cornerRadius="6" class="card">
  <GridLayout rows="*,*" columns="6*,*" class="display">

    <GridLayout row="0" col="0" rows="*" columns="5*,3*" orientation="horizontal" class="title" verticalAlignment="center">
      <Label col="0" *ngIf="polyfunctionalValue && polyfunctionalValue.selection" text="{{'SMARTCODE.'+polyfunctionalValue.selection | translate}}" verticalAlignment="center"
        horizontalAlignment="left"></Label>
      <Label col="1" *ngIf="polyfunctionalValue" text="{{polyfunctionalValue.value}}" verticalAlignment="center" horizontalAlignment="right"></Label>
    </GridLayout>
    <GridLayout row="1" col="0" rows="*" columns="5*,3*" orientation="horizontal" class="title" verticalAlignment="center">
      <Label col="0" *ngIf="polyfunctionalValue &&  polyfunctionalValue.odds.length === 1" class="odd" verticalAlignment="center"
        text="( {{ polyfunctionalValue.odds[0].odd | number:'1.2-2'}} )" verticalAlignment="center" horizontalAlignment="left"></Label>
      <Label col="1" *ngIf="polyfunctionalValue" text="{{ typeBetSlipColTot[polyfunctionalValue.typeSlipCol]  }} {{polyfunctionalValue.amount  | number: '1.2-2'}}"
        verticalAlignment="center" horizontalAlignment="right"></Label>
    </GridLayout>

    <GridLayout rowSpan="2" col="1" rows="*" columns="*" (tap)="detailOdds()">
      <Image *ngIf="polyfunctionalValue  && polyfunctionalValue.selection" stretch="aspectFit" margin="4"
        src="~/app/themes/skins/{{settings.theme}}/icon/baseline-open_in_new-24-white.png" verticalAlignment="center" [isEnabled]="!timeBlocked"></Image>
    </GridLayout>

  </GridLayout>
</GridLayout>
