.display {
    padding: 5px;  
    margin-bottom: 13px;    
    word-wrap: normal;

    .first-row {
        font-size: 1.4vw;                
    }
    .second-row {
        font-size: 1.3vw;                
    }
}