.grid-display-component{

  .display {

    .title {
      font-size: 13;
    }
    .odd-label {
      font-size: 11;
    }
  }
  .indicator-amount{
    border-width: 1;
    font-weight: 600;
    width: 100%;
    padding: 0 4;
  }
  .summary {
    font-size: 11;
  }
}
