<div class="display elevation-z5">

  <div class="first-row" [style.height.px]="(rowHeight - 20) / 2">
    <div fxLayout="column" fxFlex="60" *ngIf="polyfunctionalValue" fxLayoutAlign="center flex-start">{{polyfunctionalValue.selection}}</div>
    <div fxLayout="column" fxFlex="40" *ngIf="polyfunctionalValue" fxLayoutAlign="center flex-end">{{polyfunctionalValue.value}}</div>
  </div>
  <div class="second-row" [style.height.px]="(rowHeight - 20) / 2">
    <div *ngIf="polyfunctionalValue && polyfunctionalValue.odd > 0" fxLayout="column" fxFlex="100" fxLayoutAlign="center flex-start">(
      {{polyfunctionalValue.odd | number:'1.2-2'}} )</div>
  </div>
</div>