<div fxLayout="row" class="display elevation-z5" [style.height.px]="(rowHeight-5)">
  <ng-container *ngIf="polyfunctionalValue">
    <div fxLayout="column" fxFlex="88" fxLayoutAlign="center flex-start" [style.height.px]="(rowHeight - 20)">
      <div fxLayout="row" class="first-row" fxFill [style.height.px]="(rowHeight - 20) / 2"
        [style.min-height.px]="(rowHeight - 20) / 2">
        <div fxLayout="column" fxFlex="70" fxLayoutAlign="center flex-start"
          *ngIf="polyfunctionalValue && polyfunctionalValue.selection">
          {{"DYNAMIC_KEYS.SMARTCODE."+polyfunctionalValue.selection | translate | uppercase}}
        </div>
        <div fxLayout="column" fxFlex="25" fxLayoutAlign="center flex-end" *ngIf="polyfunctionalValue">
          {{polyfunctionalValue.value}}</div>
      </div>
      <div fxLayout="row" class="second-row" fxFill [style.height.px]="(rowHeight - 20) / 2"
        [style.min-height.px]="(rowHeight - 20) / 2">
        <div fxLayout="column" fxFlex="45" fxLayoutAlign="center flex-start">
          <span *ngIf="polyfunctionalValue && polyfunctionalValue.odds && polyfunctionalValue.odds.length === 1 ">(
            {{ polyfunctionalValue.odds[0].odd | number:'1.2-2'}} )</span>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign="center flex-end" *ngIf="polyfunctionalValue">
          {{ typeBetSlipColTot[polyfunctionalValue.typeSlipCol] }} {{ polyfunctionalValue.amount | number: '1.2-2' }}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center"
      *ngIf="polyfunctionalValue  && polyfunctionalValue.selection" [style.height.px]="(rowHeight - 20)">
      <button class="btn-reset btn-display" (click)="detailOdds()">
        <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/baseline-open_in_new-24-white.png">
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="!polyfunctionalValue && polyfunctionalStakeCoupon.isEnabled">
    <div fxLayout="column" fxFlex="40" fxLayoutAlign="center flex-start" [style.height.px]="(rowHeight - 20)">
      <div fxLayout="row">
        {{ typeBetSlipColTot[polyfunctionalStakeCoupon.typeSlipCol] }}
      </div>
    </div>
    <div fxLayout="column" fxFlex="60" fxLayoutAlign="center">
      <div fxLayout="row" fxFlex="60%" fxFlexFill fxLayoutAlign="flex-end center">
        <span class="indicator-amount radius-10">{{ polyfunctionalStakeCoupon.digitAmount | number: '1.2-2'}}</span>
      </div>
      <div fxLayout="row" fxFlex="40%" fxFlexFill fxLayoutAlign="flex-end center">
        <small>{{ polyfunctionalStakeCoupon.columns }} x {{polyfunctionalStakeCoupon.columnAmount | number: '1.2-4'}} =
          {{polyfunctionalStakeCoupon.totalAmount | number : '1.2-2'}}</small>
      </div>
    </div>
  </ng-container>
</div>
