<GridLayout rows="40*,*" class="american-roulette">
  <GridLAyout row="0" rows="*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*,*,*,*,*">
    <GridLayout row="0" col="0" rowSpan="3" class="green mat-border-1" (tap)="onSelectedNumber('0')">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getNumberSelected('0')}">
        <Label text="0" horizontalAlignment="center" verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="3" col="0" rowSpan="3" class="green mat-border-1" (tap)="onSelectedNumber('00')">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getNumberSelected('00')}">
        <Label text="00" horizontalAlignment="center" verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <ng-container *ngFor="let n of americanRouletteRug.NumberOfRoulette | selectColumn:0; let i = index;">
      <GridLayout class="btn-default mat-border-1" row="0" col="{{i+1}}" rowspan="2" [ngClass]="{'red' : n.color === color.RED, 'black' : n.color === color.BLACK,
      'dozen-selected' : dozenSelected?.length >0, 'column-selectd' :columnSelected?.length > 0}"
        (tap)="onSelectedNumber(n.number)">
        <StackLayout class="opacity" *ngIf="((n.number  < 13) && getDozen(1))
          || ((n.number  > 12 && n.number < 25) && getDozen(2))
          || ((n.number  > 24) && getDozen(3))
          || getNumberSelectedByColumn(3, n.number)" horizontalAlignment="center" verticalAlignment="center">
        </StackLayout>
        <StackLayout horizontalAlignment="center" verticalAlignment="center"
          [ngClass]="{'btn-roulette-selected' : getNumberSelected(n.number)}">
          <Label text="{{n.number}}" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
    </ng-container>
    <ng-container *ngFor="let n of americanRouletteRug.NumberOfRoulette | selectColumn:0; let i = index;">
      <GridLayout class="btn-default mat-border-1" row="0" col="{{i+1}}" rowspan="2" [ngClass]="{'red' : n.color === color.RED, 'black' : n.color === color.BLACK,
      'dozen-selected' : dozenSelected?.length >0, 'column-selectd' :columnSelected?.length > 0}"
        (tap)="onSelectedNumber(n.number)">
        <StackLayout class="opacity" *ngIf="((n.number  < 13) && getDozen(1))
          || ((n.number  > 12 && n.number < 25) && getDozen(2))
          || ((n.number  > 24) && getDozen(3))
          || getNumberSelectedByColumn(3, n.number)" horizontalAlignment="center" verticalAlignment="center">
        </StackLayout>
        <StackLayout horizontalAlignment="center" verticalAlignment="center"
          [ngClass]="{'btn-roulette-selected' : getNumberSelected(n.number)}">
          <Label text="{{n.number}}" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
    </ng-container>
    <GridLayout row="0" col="14" rowSpan="2" class="green mat-border-1" (tap)="onSelectedColumn(3)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getColumn(3)}">
        <Label text="{{'AMERICANROULETTE.COLUMN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <ng-container *ngFor="let n of americanRouletteRug.NumberOfRoulette | selectColumn:2; let i = index;">
      <GridLayout class="btn-default mat-border-1" row="2" col="{{i+1}}" rowspan="2" [ngClass]="{'red' : n.color === color.RED, 'black' : n.color === color.BLACK,
      'dozen-selected' : dozenSelected?.length >0, 'column-selectd' :columnSelected?.length > 0}"
        (tap)="onSelectedNumber(n.number)">
        <StackLayout class="opacity" *ngIf="((n.number  < 13) && getDozen(1))
        || ((n.number  > 12 && n.number < 25) && getDozen(2))
        || ((n.number  > 24) && getDozen(3)) || getNumberSelectedByColumn(2, n.number)" horizontalAlignment="center"
          verticalAlignment="center">
        </StackLayout>
        <StackLayout horizontalAlignment="center" verticalAlignment="center"
          [ngClass]="{'btn-roulette-selected' : getNumberSelected(n.number)}">
          <Label text="{{n.number}}" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
    </ng-container>
    <GridLayout row="2" col="14" rowSpan="2" class="green mat-border-1" (tap)="onSelectedColumn(2)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getColumn(2)}">
        <Label text="{{'AMERICANROULETTE.COLUMN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <ng-container *ngFor="let n of americanRouletteRug.NumberOfRoulette | selectColumn:1; let i = index;">
      <GridLayout class="btn-default mat-border-1" row="4" col="{{i+1}}" rowspan="2" [ngClass]="{'red' : n.color === color.RED, 'black' : n.color === color.BLACK,
      'dozen-selected' : dozenSelected?.length >0, 'column-selectd' :columnSelected?.length > 0}"
        (tap)="onSelectedNumber(n.number)">
        <StackLayout class="opacity" *ngIf="((n.number  < 13) && getDozen(1))
        || ((n.number  > 12 && n.number < 25) && getDozen(2))
        || ((n.number  > 24) && getDozen(3)) || getNumberSelectedByColumn(1, n.number)" horizontalAlignment="center"
          verticalAlignment="center">
        </StackLayout>
        <StackLayout horizontalAlignment="center" verticalAlignment="center"
          [ngClass]="{'btn-roulette-selected' : getNumberSelected(n.number)}">
          <Label text="{{n.number}}" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
    </ng-container>
    <GridLayout row="4" col="14" rowSpan="2" class="green mat-border-1" (tap)="onSelectedColumn(1)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getColumn(1)}">
        <Label text="{{'AMERICANROULETTE.COLUMN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <!-- ROW 1 DOZEN -->
    <GridLayout row="6" col="1" colSpan="4" class="green mat-border-1" (tap)="onSelectedDozen(1)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getDozen(1)}">
        <Label text="{{'AMERICANROULETTE.1DOZEN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="6" col="5" colSpan="4" class="green mat-border-1" (tap)="onSelectedDozen(2)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getDozen(2)}">
        <Label text="{{'AMERICANROULETTE.2DOZEN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="6" col="9" colSpan="4" class="green mat-border-1" (tap)="onSelectedDozen(3)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getDozen(3)}">
        <Label text="{{'AMERICANROULETTE.3DOZEN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="6" col="9" colSpan="4" class="green mat-border-1" (tap)="onSelectedDozen(3)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getDozen(3)}">
        <Label text="{{'AMERICANROULETTE.3DOZEN' | translate }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <!-- /ROW 1 DOZEN -->
    <!-- ROW 2 HIGH-LOW (1-18, 19-36) -->
    <GridLayout row="7" col="1" colSpan="2" class="green mat-border-1"
      (tap)="onSelected('Low',marketSelection.HighLow)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getOtherPointSelected('Low')}">
        <Label text="1-18" horizontalAlignment="center" verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="7" col="11" colSpan="2" class="green mat-border-1"
      (tap)="onSelected('High',marketSelection.HighLow)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getOtherPointSelected('High')}">
        <Label text="19-36" horizontalAlignment="center" verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <!-- /HIGH-LOW (1-18, 19-36) -->
    <!-- EVEN-ODD -->
    <GridLayout row="7" col="3" colSpan="2" class="green mat-border-1"
      (tap)="onSelected('Even',marketSelection.OddEven)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getOtherPointSelected('Even')}">
        <Label text="{{'EVEN' | translate }}" horizontalAlignment="center" verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="7" col="9" colSpan="2" class="green mat-border-1"
      (tap)="onSelected('Odd',marketSelection.OddEven)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getOtherPointSelected('Odd')}">
        <Label text="{{'ODD' | translate }}" horizontalAlignment="center" verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <!-- /EVEN-ODD -->
    <!-- RED-BLACK -->
    <GridLayout row="7" col="5" colSpan="2" class="green mat-border-1"
      (tap)="onSelected('Red',marketSelection.RedBlack)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getOtherPointSelected('Red')}">
        <Label text=" {{'RED' | translate | uppercase }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="7" col="7" colSpan="2" class="green mat-border-1"
      (tap)="onSelected('Black',marketSelection.RedBlack)">
      <StackLayout class="btn-default" verticalAlignment="center" horizontalAlignment="center"
        [ngClass]="{'btn-roulette-selected' : getOtherPointSelected('Black')}">
        <Label text="{{'BLACK' | translate |uppercase }}" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <!-- /RED-BLACK -->
  </GridLAyout>
</GridLayout>
