.card-box-result {
	margin: 0 6;

	.header,
	.position {
		margin: 3;
	}

	.position {
		font-size: 14;
		font-weight: 700;
		padding: 0;

		border-radius: 10;

		&.small {
			border-radius: 5;
			font-size: 12;
		}
	}
}

.btn-default-result-cock {
  .icon{
    width: 32;
    height: 32;
    &.icon-cock-red{
      background: url('~/assets/images/cockfight/cock-red.png') no-repeat center;
      background-size: contain;
    }
    &.icon-cock-blue{
      background: url('~/assets/images/cockfight/cock-blue.png') no-repeat center;
      background-size: contain;
    }
  }
}
