.card-box-result {
	margin: 0 2;

	.header,
	.position {
		margin: 3;
	}
	.header {
		border-radius: 4;
	}
	.position {
		font-size: 14;
		font-weight: 700;
		padding: 0;

		border-radius: 4;

		&.small {
			border-radius: 4;
			font-size: 12;
		}
	}
}

.btn-default-cock {
	.icon {
		width: 32;
		height: 32;
	}
}

// SOCCER
.card-box-result-soccer {
	.header {
		@extend %card-title-noborder;
		border-radius: 4;
		.eventNumber {
			font-size: 11;
			font-weight: 500;
		}
	}
	.btn-soccer-result {
		font-size: 9;
		font-weight: 400;
		border-radius: 4;
		@extend %card-title-noborder;
	}
}

.card-box-result-american-roulette{
	.header {
		@extend %card-title-noborder;
		border-radius: 4;
		font-size: 11;
		font-weight: 500;
		width: 100%;
		
	}
	.btn-colours-result {
		width: 100%;
		font-size: 12;
		font-weight: 400;
		border-radius: 4;
		text-align: center;
		
		&.btn-colours-RED {
			background: #ff0000;
			border-color: #ff0000;
		}

		&.btn-colours-GREEN {
			background: #11a40f;
			border-color: #11a40f;
		}

		&.btn-colours-BLACK {
			background: #000000;
			border-color: #000000;
		}


	}
}

// KENO
.card-box-result-keno {
	.header {
		@extend %card-title-noborder;
		border-radius: 4;
		.eventNumber {
			font-size: 18;
			font-weight: 500;
		}
	}
	.btn-keno-result {
		width: 25;
		font-size: 12;
		font-weight: 400;
		border-radius: 4;
		text-align: center;
		@extend %card-title-noborder;
	}
}

// COLOURS
.card-box-result-colours {
	.header {
		@extend %card-title-noborder;
		border-radius: 4;
		.eventNumber {
			font-size: 18;
			font-weight: 500;
		}
	}
	.btn-colours-result {
		width: 26;
		height: 30;
		font-size: 12;
		font-weight: 400;
		border-radius: 4;
		text-align: center;
		
		&.btn-colours-RED {
			background: #ff0000;
			border-color: #ff0000;
		}

		&.btn-colours-BLUE {
			background: #4171b2;
			border-color: #4171b2;
		}

		&.btn-colours-GREEN {
			background: #11a40f;
			border-color: #11a40f;
		}

		&.btn-colours-YELLOW {
			background: #c2f102;
			border-color: #c2f102;
			color: #000;
		}

		&.btn-colours-hilo-selection {
			width: 54;
			@extend %card-title-noborder;
		}

		&.btn-colours-hilo {
			@extend %card-title-noborder;
		}
	}
}
