.card-box-result {
	margin: 0 2;

	.header,
	.position {
		margin: 3;
	}
	.header {
		border-radius: 4;
	}
	.position {
		font-size: 14;
		font-weight: 700;
		padding: 0;

		border-radius: 4;

		&.small {
			border-radius: 4;
			font-size: 12;
		}
	}
}

.btn-default-cock {
	.icon {
		width: 32;
		height: 32;
	}
}

// SOCCER
.card-box-result-soccer {
	.header {
		@extend %card-title-noborder;
		border-radius: 4;
		.eventNumber {
			font-size: 11;
			font-weight: 500;
		}
	}
	.btn-soccer-result {
		font-size: 9;
		font-weight: 400;
		border-radius: 4;
		@extend %card-title-noborder;
	}
}

// KENO
.card-box-result-keno {
	.header {
		@extend %card-title-noborder;
		border-radius: 4;
		.eventNumber {
			font-size: 18;
			font-weight: 500;
		}
	}
	.btn-keno-result {
		width: 25;
		height: 25;
		font-size: 12;
		font-weight: 400;
		border-radius: 4;
		text-align: center;
		padding: 5.5; // = (width - font-size) / 2
		@extend %card-title-noborder;
	}
}
