<GridLayout class="playable-grid-buttons" rows="*,*,*,*,*" columns="*,3*" *ngIf="eventDetails" class="card">
  <ng-container *ngFor="let market of eventDetails.mk | filterAndSortByShownMarkets: shownMarkets; let i = index;">
    <!-- MARKET'S ROW -->
    <ng-container *ngIf="market.tp !== marketEnum['OverUnder']">
      <GridLayout row="{{i}}" col="0" shadow="3" cornerRadius="6" class="playable-row-tile display">
        <StackLayout verticalAlignment="center" horizontalAlignment="center">
          <Label text="{{ 'DYNAMIC_KEYS.CockMarket.NAME.' + market.nm | translate | uppercase}}"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout row="{{i}}" col="1" rows="*" columns="{{getColumnsString(market.sls.length)}}">
        <ng-container *ngFor="let selection of market.sls | rmSelFromMarket: '1 + Over'; let i2 = index">
          <GridLayout col="{{i2}}" shadow="3" cornerRadius="6"
            class="btn btn-default btn-default-cock radius-5  btn-cock-{{ selection.nm | competitorIto }}">
            <Button text="{{selection.ods[0].vl}}" class="button-internal" (tap)="selectOdd(market.tp, selection)"
              [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen"
              [ngClass]="{'btn-actived': oddsSelected?.includes(selection.id)}">
            </Button>
          </GridLayout>
        </ng-container>
      </GridLayout>

    </ng-container>
    <!-- SPECIAL BETS -->
    <ng-container *ngIf="market.tp === marketEnum['OverUnder']">
      <StackLayout row="{{i}}" col="{{0}}"></StackLayout>
      <GridLayout row="{{i}}" col="1" rows="*" columns="{{getColumnsString(market.sls.length)}}">
        <GridLayout col="{{index}}" shadow="3" cornerRadius="6" class="playable-grid-buttons playable-special-bets"
          *ngFor="let index of [0,1]">
          <Button text="{{market.sls[index].ods[0].vl | number: '1.2-2'}}" class="button-internal"
            (tap)="selectOdd(market.tp, market.sls[index])"
            [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen"
            [ngClass]="{'actived': oddsSelected?.includes(market.sls[index].id)}"></Button>
        </GridLayout>
      </GridLayout>
    </ng-container>
  </ng-container>
</GridLayout>
