<!-- MARKET'S ROW -->
<mat-grid-list class="playable-grid-buttons" cols="27" rowHeight="{{rowHeight *2}}">
  <ng-container *ngFor="let market of mainService.currentEventDetails.mk | filterAndSortByShownMarkets : shownMarkets">
    <mat-grid-tile colspan="3">
      <span class="playable-row-tile display radius-5">
        {{ market.nm | translate }}
      </span>
    </mat-grid-tile>
    <ng-container *ngFor="let selection of market.sls">
      <mat-grid-tile *ngIf="selection.tp !== 3 || selection.tp === 3 && market.tp !== cockMarket['1X2OverUnder']"
        colspan="{{market.tp !== cockMarket['1X2OverUnder'] ? 24 / market.sls.length : 24 / (market.sls.length - 1)}}">
        <button (click)="runnerplaced(player)" class="btn btn-default btn-default-dog-play radius-15">
          <ng-container *ngIf="market.tp === cockMarket['1X2'] && (selection.tp === 1 || selection.tp === 3)">
            <div class="icon" [ngClass]="{'icon-cock-red': selection.tp === 1, 'icon-cock-blue': selection.tp === 3}">
            </div>
            <ng-container
              *ngFor="let competitor of mainService.currentEventDetails.tm | filterByCompetitor: ((selection.tp === 1) ? 1 : 2)">
              <span>{{ competitor.nm }}</span>
            </ng-container>
          </ng-container>

          <span *ngIf="market.tp !== cockMarket['1X2']">{{ selection.nm }}</span>
          <span>{{ selection.ods[0].vl }}</span>
        </button>
      </mat-grid-tile>
    </ng-container>
  </ng-container>
</mat-grid-list>

<!-- SPECIAL BETS -->
<mat-grid-list class="playable-grid-buttons playable-special-bets" cols="27" rowHeight="{{rowHeight *2}}">
  <mat-grid-tile colspan="3"></mat-grid-tile>
  <mat-grid-tile colspan="12">
    <button (click)="specialBets('OVER')"
      class="btn-reset btn-default btn-success radius-10 elevation-z5">{{'OVER' | translate}}</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="12">
    <button (click)="specialBets('UNDER')"
      class="btn-reset btn-default btn-success radius-10 elevation-z5">{{'UNDER' | translate}}</button>
  </mat-grid-tile>
</mat-grid-list>
