<GridLayout class="playable-grid-buttons" row="0" rows="*,*,*,*" columns="3*,*,*,*,*,*,*,*,*" *ngIf="eventDetails">
  <ng-container *ngFor="let market of eventDetails.mk | filterAndSortByShownMarkets: shownMarkets; let i = index;">
    <!-- MARKET'S ROW -->
    <GridLayout row="{{i}}" col="0" shadow="3" cornerRadius="6" class="card">
      <Label text="{{ 'DYNAMIC_KEYS.CockMarket.NAME.' + market.nm | translate | uppercase}}"></Label>
    </GridLayout>
    <ng-container *ngFor="let selection of market.sls; let i2 = index">
      <GridLayout row="{{i}}" col="i2 + 1" shadow="3" cornerRadius="6" class="card"
        *ngIf="selection.tp !== 3 || selection.tp === 3 && market.tp !== marketEnum['1X2OverUnder']"
        colspan="{{market.tp !== marketEnum['1X2OverUnder'] ? 24 / market.sls.length : 24 / (market.sls.length - 1)}}">
        <Button text="{{runner.number}}" class="button-internal" (tap)="selectOdd(market.tp, selection)"
          [isEnabled]="runner.selectable && !service.placingEvent.timeBlocked && !userService.isModalOpen"
          [ngClass]="{'btn-actived': oddsSelected?.includes(selection.id)}"></Button>
      </GridLayout>
    </ng-container>
  </ng-container>
</GridLayout>
