<GridLayout rows="3*,2*,9*,2*,2*" columns="*" class="product-class" [ngClass]="productService.product.productSelected ? 'PRODUCT-'+productService.product.codeProduct+'-BG' : ''">
  <!-- Race control -->
  <GridLayout row="0">
    <app-race-control></app-race-control>
  </GridLayout>
  <!-- List races -->
  <GridLayout row="1">
    <app-list-race [show]="!dialog.showDialog"></app-list-race>
  </GridLayout>
  <!-- Playable board -->
  <GridLayout row="2">
    <app-playable-board [show]="!dialog.showDialog && !productService.destroyCouponService.showDialog"></app-playable-board>
  </GridLayout>
  <!-- Special race -->

  <GridLayout row="3">
    <GridLayout rows="*" columns="*,*,*" class="special-box" *ngIf="!dialog.showDialog">
      <GridLayout row="0" col="0" shadow="3" cornerRadius="6" class="card">
        <GridLayout rows="*" columns="*" class="button btn-grey-gradient">
          <Button text="{{ 'LUCKY' | translate }} 1" class="button-internal" (tap)="placingLucky(lucky.Lucky1)" textTransform="none"
            [isEnabled]="!racingService.placingRace.timeBlocked"></Button>
        </GridLayout>
      </GridLayout>
      <GridLayout row="0" col="1" shadow="3" cornerRadius="6" class="card">
        <GridLayout rows="*" columns="*" class="button btn-grey-gradient">
          <Button text="{{ 'LUCKY' | translate }} 2" class="button-internal" (tap)="placingLucky(lucky.Lucky2)" textTransform="none"
            [isEnabled]="!racingService.placingRace.timeBlocked"></Button>
        </GridLayout>
      </GridLayout>
      <GridLayout row="0" col="2" shadow="3" cornerRadius="6" class="card">
        <GridLayout rows="*" columns="*" class="button btn-grey-gradient">
          <Button text="{{ 'LUCKY' | translate }} 3" class="button-internal" (tap)="placingLucky(lucky.Lucky3)" textTransform="none"
            [isEnabled]="!racingService.placingRace.timeBlocked"></Button>
        </GridLayout>
      </GridLayout>
    </GridLayout>
  </GridLayout>
  <GridLayout row="2" rowSpan="2" class="overlay radius-5" *ngIf="racingService.placingRace && racingService.placingRace.timeBlocked == true">
    <StackLayout verticalAlignment="center">
      <Image stretch="aspectFit" width="60" src="~/app/themes/skins/{{settings.theme}}/icon/baseline-lock-24px.png" horizontalAlignment="center" verticalAlignment="center"></Image>
    </StackLayout>
  </GridLayout>
  <!-- List of result -->
  <GridLayout row="4">
    <app-result-list></app-result-list>
  </GridLayout>
</GridLayout>
