<GridLayout rows="*,*,12*" columns="*" class="operators">
  <Label row="0" col="0" class="title"
    text="{{'LIST_OF_OPERATORS' | translate | uppercase}} - {{'EDIT' | translate | uppercase }}" textWrap="true"
    verticalAlignment="center"></Label>
  <Image row="1" stretch="aspectFit" width="35" [nsRouterLink]="['../']"
    src="~/assets/icons/baseline-arrow_back-24px.png" verticalAlignment="center" horizontalAlignment="left"
    class="m-l-5"></Image>
  <StackLayout row="2" shadow="3" cornerRadius="6" class="card">
    <GridLayout class="display" rows="*,*,*,*,*,*,*" columns="*,10*,*" verticalAlignment="center" *ngIf="!isEdited">
      <!-- USERNAME -->
      <GridLayout row="1" col="1" rows="*" columns="5,30,10,auto" class="input-vdesk m-b-15 radius-2"
        [ngClass]="{'error': false }">
        <StackLayout col="1" class="icon-area user-icon"></StackLayout>
        <Label col="3" text="{{ operatorService.operatorMarked?.UserName }}" verticalAlignment="center"></Label>
      </GridLayout>
      <!-- PASSWORD -->
      <GridLayout row="2" col="1" rows="*" columns="5,30,10,auto" class="input-vdesk m-b-15 radius-2"
        [ngClass]="{'error': ((password.invalid || passwordLengthInvalid ) && password.touched)  }">
        <StackLayout col="1" class="icon-area pwd-icon"></StackLayout>
        <TextField col="3" secure="true" hint="{{'PASSWORD'|translate}}"
          (textChange)="validateLength($event, 'password', 6)" returnKeyType="done" autocapitalizationType="none"
          required ngModel #password="ngModel">
        </TextField>
      </GridLayout>
      <!-- REPEAT PASSWORD -->
      <GridLayout row="3" col="1" rows="*" columns="5,30,10,auto" class="input-vdesk m-b-15 radius-2"
        [ngClass]="{'error': (retryPassword.invalid || retryPasswordLengthInvalid || passwordNotSame)  && retryPassword.touched}">
        <StackLayout col="1" class="icon-area pwd-icon"></StackLayout>
        <TextField col="3" secure="true" hint="{{'REPEAT_PASSWORD'|translate}}"
          (textChange)="validateLength($event, 'retryPassword', 6); samePassword($event, password.value)"
          returnKeyType="done" autocapitalizationType="none" (returnPress)="onSubmit()" required ngModel
          #retryPassword="ngModel">
        </TextField>
      </GridLayout>
      <Button row="5" col="1" text="{{ 'CONFIRM' | translate | uppercase }}"
        class="button btn-default btn-success-no-gradient radius-2"
        [ngClass]="{'disabled': !(password.valid && retryPassword.valid && !passwordLengthInvalid && !retryPasswordLengthInvalid && !passwordNotSame )}"
        (tap)="onSubmit()"
        [isEnabled]="password.valid  && retryPassword.valid && !passwordLengthInvalid && !passwordNotSame">
      </Button>
      <!-- error -->
      <StackLayout row="6" col="1" orientation="vertical" class="error-message" horizontalAlignment="center"
        verticalAlignment="center">
        <GridLayout *ngIf="!password.valid && password.touched && password.hasError('required')" rows="auto"
          columns="5,30,10,auto">
          <StackLayout col="1" class="error-icon"></StackLayout>
          <StackLayout col="3" verticalAlignment="center">
            <Label text="{{ 'PASSWORD' | translate }} {{ 'IS_REQUIRED' | translate | lowercase  }}"></Label>
          </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="passwordLengthInvalid && password.touched && !password.hasError('required')" rows="auto"
          columns="5,30,10,auto">
          <StackLayout col="1" class="error-icon"></StackLayout>
          <StackLayout col="3" verticalAlignment="center">
            <Label text="{{ 'PASSWORD_TOO_SHORT' | translate }}"></Label>
          </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="!retryPassword.valid && retryPassword.touched && retryPassword.hasError('required')"
          rows="auto" columns="5,30,10,auto">
          <StackLayout col="1" class="error-icon"></StackLayout>
          <StackLayout col="3" verticalAlignment="center">
            <Label text="{{ 'PASSWORD' | translate }} {{ 'IS_REQUIRED' | translate | lowercase  }}"></Label>
          </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="passwordNotSame && retryPassword.touched" rows="auto" columns="5,30,10,auto">
          <StackLayout col="1" class="error-icon"></StackLayout>
          <StackLayout col="3" verticalAlignment="center">
            <Label text="{{ 'PASSWORD_NOT_SAME' | translate }}"></Label>
          </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="retryPasswordLengthInvalid && retryPassword.touched && !retryPassword.hasError('required')"
          rows="auto" columns="5,30,10,auto">
          <StackLayout col="1" class="error-icon"></StackLayout>
          <StackLayout col="3" verticalAlignment="center">
            <Label text="{{ 'PASSWORD_TOO_SHORT' | translate }}"></Label>
          </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="errorMessage" rows="auto" columns="5,30,10,auto">
          <StackLayout col="1" class="error-icon"></StackLayout>
          <StackLayout col="3" verticalAlignment="center">
            <Label [text]="errorMessage"></Label>
          </StackLayout>
        </GridLayout>
      </StackLayout>
    </GridLayout>
    <GridLayout rows="*,*,*,*,*,*,*,*" columns="*,10*,*" class="display" verticalAlignment="center" *ngIf="isEdited">
      <GridLayout col="1" row="4" columns="*,10*" horizontalAlignment="center">
        <Label col="0" class="success-icon" width="24" height="24" verticalAlignment="center"></Label>
        <Label col="1" text="{{'OPERATOR.UPDATE_SUCCESS_MESSAGE' | translate }}" verticalAlignment="center"
          horizontalAlignment="center"></Label>
      </GridLayout>
    </GridLayout>
  </StackLayout>
</GridLayout>
