
.title-tns {
    font-size: 26;
    font-weight: bold;
    color: #dcdcdc;
}

.input-vdesk {
  margin: 6;
  font-size: 15;
}

.button {
  width: 200;
  margin: 15;
  font-size: 15;
}

TextField {
  padding: 5;
  margin: 5;
}

Button {
  padding: 5;
  margin: 5;
}

