<GridLayout rows="*,*,*,*" columns="*,*" height="300" class="dialog" id='pay-cancel'>
  <Label row="0" colSpan="2" text="{{ titleType | translate | uppercase }}" class="title title-tns"
    verticalAlignment="center" horizontalAlignment="center"></Label>

  <GridLayout row="1" colSpan="2" rows="*" columns="5,30,10,200" class="input-vdesk radius-2" verticalAlignment="center"
    horizontalAlignment="center">
    <StackLayout col="1" class="icon-area shopping-cart-icon"></StackLayout>
    <TextField ngModel #couponCode="ngModel" (textChange)="validatePattern($event, 'couponCode')" col="3"
      hint="coupon code" returnKeyType="next" required verticalAlignment="center" horizontalAlignment="left">
    </TextField>
  </GridLayout>

  <Button row="2" col="0" text="{{'CLOSE' | translate | uppercase}}" (tap)="close()" class="btn btn-outline"
    class="button btn-default btn-warning radius-2"></Button>
  <Button row="2" col="1" text="{{'CONFIRM' | translate}}" class="button btn-default btn-success radius-2"
    [ngClass]="{'disabled': !couponIdPatternInvalid}" (tap)="onSubmit(couponCode.value)"
    [isEnabled]="couponIdPatternInvalid"></Button>

  <GridLayout row="3" col="0" rows="*" columns="5,30,200,10" class="radius-2" verticalAlignment="center"
    horizontalAlignment="center">
    <StackLayout *ngIf="errorNumberIcon && errorNumberIcon !== 1" col="1" class="icon-area error-icon"></StackLayout>
    <StackLayout *ngIf="errorNumberIcon && errorNumberIcon === 1" col="1" class="icon-area check-circle-icon">
    </StackLayout>
    <StackLayout *ngIf="errorMessage && !errorNumberIcon" col="1" class="icon-area error-icon"></StackLayout>
    <Label col="2" text="{{ errorMessage }}" class="title" verticalAlignment="center"
      horizontalAlignment="left"></Label>
  </GridLayout>

</GridLayout>
