#language-setting {
	.title {
		font-size: 30;
		font-weight: bold;
		margin-left: 15;
		margin-bottom: 20;
	}

	.display {
		padding: 35 30 35 30;
		border-radius: 15;
	}

	.language-list {
		.btn-filter {
			font-size: 20;
			height: 60;
			margin: 5 30;
		}
	}
}
