<GridLayout rows="*" columns="*,*,*,*,*" class="list-race">
  <GridLayout col="{{i}}" rows="*,*" columns="*" *ngFor="let race of dogracingService.raceDetails.races; let i = index;"
    (tap)="raceSelecting(i)">
    <GridLayout *ngIf="race != null" row="0" rows="*" columns="*" class="card-box button number" [ngClass]="{ 'selected' : dogracingService.raceDetails.currentRace == i }">
      <Button text="{{race.label}}" class="button-internal"></Button>
    </GridLayout>
    <GridLayout *ngIf="race != null" row="1" rows="*" columns="*" class="card-box button date" [ngClass]="{ 'selected' : dogracingService.raceDetails.currentRace == i }">
      <Button text="{{ race.date | date:'HH:mm' }}" class="button-internal"></Button>
    </GridLayout>
  </GridLayout>
</GridLayout>