<GridLayout rows="*" columns="*,*,*,*,*" class="list-race">
  <GridLayout col="{{i}}" rows="*,*" columns="*" *ngFor="let race of dogracingService.raceDetails.races; let i = index;"
    (tap)="raceSelecting(i)">
    <CardView row="0" elevation="10" radius="10" class="card-box">
      <GridLayout *ngIf="race != null" rows="*" columns="*" class="button number" [ngClass]="{ 'selected' : dogracingService.raceDetails.currentRace == i }">
        <Button text="{{race.label}}" class="button-internal" textTransform="none"></Button>
      </GridLayout>
    </CardView>
    <CardView row="1" elevation="10" radius="10" class="card-box">
      <GridLayout *ngIf="race != null" row="1" rows="*" columns="*" class="button date" [ngClass]="{ 'selected' : dogracingService.raceDetails.currentRace == i }">
        <Button text="{{ race.date | date:'HH:mm' }}" class="button-internal"></Button>
      </GridLayout>
    </CardView>
  </GridLayout>
</GridLayout>