<GridLayout rows="*,12*,2*" columns="*" class="dialog hot-and-cold-dialog">
  <!-- dialog header -->
  <Label verticalAlignment="center" row="0"
    text="{{ 'DYNAMIC_KEYS.PRODUCT_DIALOG.HOT-AND-COLD' | translate | uppercase }}" class="h3 title"
    horizontalAlignment="center"></Label>

  <GridLayout rows="*" columns="*,3*,*,3*,*" row="1 ">

    <GridLayout class="display" col="1">
      <GridLayout rows="*,*,*,*,*" columns="*,*" class="display-content">
        <button class="btn-colours btn-colours-{{Colour[checkNumberColour(hotNumber)]}} radius-50"
          row="{{ (i - (Math.floor((i / 5)) * 5)) }}" col="{{ (i+1) % 2 }}"
          *ngFor="let hotNumber of data.hotAndCold.hotAndColdNumbers.HotNumbers; let i = index"
          text="{{ hotNumber }}"></button>
      </GridLayout>
    </GridLayout>
    <StackLayout col="1">
      <Label class="label-overlap" text="{{ 'HOT' | translate }}" horizontalAlignment="left"></Label>
    </StackLayout>

    <GridLayout class="display" col="3">
      <GridLayout rows="*,*,*,*,* " columns="*,*" class="display-content">
        <button class="btn-colours btn-colours-{{Colour[checkNumberColour(coldNumber)]}} radius-50"
          row="{{ (i - (Math.floor((i / 5)) * 5)) }}" col="{{ (i+1) % 2 }}"
          *ngFor="let coldNumber of data.hotAndCold.hotAndColdNumbers.ColdNumbers; let i = index"
          text="{{ coldNumber }}"></button>
      </GridLayout>
    </GridLayout>
    <StackLayout col="3">
      <Label class="label-overlap" text="{{ 'COLD' | translate }}" horizontalAlignment="left"></Label>
    </StackLayout>

  </GridLayout>


  <StackLayout row="2" horizontalAlignment="center" verticalAlignment="center">
    <GridLayout rows="*" columns="25*, 25*, 25*" class="m-5">
      <StackLayout col="0"></StackLayout>
      <Button col="1" text="{{ 'CLOSE' | translate }}" borderRadius="4" class="btn-danger btn-close" (tap)="close()"
        textTransform="none"></Button>
      <StackLayout col="2"></StackLayout>
    </GridLayout>
  </StackLayout>

</GridLayout>
