<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" class="dog-racing">
    <mat-grid-list cols="1" rowHeight="{{rowHeight}}">
        <!-- header -->
        <mat-grid-tile rowspan="3">
            header
        </mat-grid-tile>
        <!-- next racing -->
        <mat-grid-tile rowspan="2">
            next racing
        </mat-grid-tile>
        <!-- bet -->
        <mat-grid-tile rowspan="6">
            bet
        </mat-grid-tile>
        <!-- option -->
        <mat-grid-tile rowspan="2">
            option
        </mat-grid-tile>
        <!-- multiplier -->
        <mat-grid-tile rowspan="1">
            multiplier
        </mat-grid-tile>
        <!-- special -->
        <mat-grid-tile rowspan="2">
            special
        </mat-grid-tile>
        <!-- previus racing -->
        <mat-grid-tile rowspan="2">
            previus racing
        </mat-grid-tile>
    </mat-grid-list>
</div>