<div fxFlexFill fxLayout="column" class="dog-racing padding-horizontal-6">
    <mat-grid-list cols="1" rowHeight="{{rowHeight}}">
        <!-- Race control -->
        <mat-grid-tile rowspan="3">
            Race control
        </mat-grid-tile>
        <!-- List races -->
        <mat-grid-tile rowspan="2">
            list races
        </mat-grid-tile>
        <!-- Playable board -->
        <mat-grid-tile rowspan="9">
            Playable board
        </mat-grid-tile>
        <!-- Special race -->
        <mat-grid-tile rowspan="2">
            Special race
        </mat-grid-tile>
        <!-- List of result -->
        <mat-grid-tile rowspan="2">
            list of result
        </mat-grid-tile>
    </mat-grid-list>
</div>