.hot-and-cold-numbers {
	.hot-number {
		height: 60px;
		width: 60px;
		background: $gradient-red2;
	}
	.cold-number {
		height: 60px;
		width: 60px;
		background: $gradient-green2;
	}
	.hot-and-cold-border {
		@extend %card-title;

		&.display-trasparent {
			@extend %bg-transparent;
		}

		.label-overlap {
			@extend %card-title-label;
			position: relative;
			top: -14px;
			left: 57px;
			font-weight: bold;
			width: 0%;
			font-size: larger;
		}
	}
}
