<GridLayout rows="*" columns="*" shadow="10" cornerRadius="6" margin="8">
  <!-- ODDS COUPON OR BET DISPLAY -->
  <app-betodds *ngIf="data.betCoupon || data.betOdds" [column]="column" [maxPage]="maxPage" [maxItems]="maxItems"
    [data]="data"></app-betodds>
  <!-- GROUPINGS COUPON-->
  <app-groupings *ngIf="data.groupings" [column]="column" [maxPage]="maxPage" [maxItems]="maxItems" [data]="data">
  </app-groupings>
  <!-- STATISTICS MODAL -->
  <app-statistics *ngIf="data.statistics" [data]="data"></app-statistics>
  <!-- RANKING MODAL -->
  <app-ranking *ngIf="data.tournamentRanking" [data]="data"></app-ranking>
  <!-- PAYTABLE MODAL -->
  <app-paytable *ngIf="data.paytable" [data]="data"></app-paytable>
</GridLayout>
