.mat-dialog-content {
    height: 50vh;
}

.odds-grid {

    .card-odd {
        padding: 5px;
    
        .top-window {
            height: 20px;
        }
    
        .first-row {
            padding: 5px;
        }
    
        .odd {
            padding: 2px;
            width: 40%;
            margin: 5px;
            text-align: center;
        }
    }
}

.btn-close {
    width: 100px;
    padding: 5px;
}

.scroll {
    position: relative;

    .indicator {
        position: absolute;
        right: 2px;
        top: 2px;
        padding: 2px;
    }
}

.indicator {
    height: 25px;
    text-align: center;
}