<h2 mat-dialog-title>{{data.title}}</h2>
<div mat-dialog-content gdColumns="1fr 1fr 1fr" fxLayoutAlign="start start">
  <div class="card-odd radius-5" *ngFor="let odd of data.odds">
    <div class="top-window"></div>
    <div class="first-row" fxLayout="row">
      <div fxFlex="50" fxLayoutAlign="start center">
        {{odd.label}}
      </div>
      <div fxFlex="50" fxLayoutAlign="end center">
        {{odd.amount | number: '1.2-2'}}
      </div>
    </div>
    <div class="odd radius-5">
      {{odd.odd | number: '1.3-3'}}
    </div>
  </div>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button class="btn-reset btn-default btn-close radius-5" (click)="close()" cdkFocusInitial>Close</button>
</div>