<div mat-dialog-title>
  <div class="title">{{ 'TITLE.' + title | translate }}</div>
  <div *ngIf="maxPage > 1" class="indicator">{{page + 1}}/{{maxPage}}
  </div>
</div>
<div mat-dialog-content #content [style.padding-top.px]="containerPaddingTop">
  <mat-grid-list cols="{{column}}" class="odds-grid" rowHeight="25px" [gutterSize]="'10px'">
    <mat-grid-tile colspan="{{column}}">
      <button *ngIf="maxPage > 1" class="btn-reset card-odd radius-5 scroll" (click)="previusOdds()" [disabled]="page <= 0">
        <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/Up.svg">
      </button>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3" class="card-odd radius-5" [ngClass]="{'notSelected': !odd.selected}" (click)="toggleOdd(odd)" *ngFor="let odd of betOdds">
      <div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
        <div fxFlex="24" class="top-window"></div>
        <div fxFlex="38" class="first-row" fxLayout="row">
          <div fxFlex="70" fxLayoutAlign="start center">
            {{odd.label}}
          </div>
          <div fxFlex="30" fxLayoutAlign="center center" class="odd radius-5">
            {{odd.odd | number: '1.2-2'}}
          </div>
        </div>
        <div fxFlex="38" class="stake btn-success radius-5">
          {{odd.amount | number: '1.2-2'}}
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3" *ngFor="let odd of emptyOdds"></mat-grid-tile>
    <mat-grid-tile colspan="{{column}}">
      <button *ngIf="maxPage > 1" class="btn-reset card-odd radius-5 scroll" (click)="nextOdds()" [disabled]="page >= maxPage - 1">
        <img class="icon" src="app/themes/skins/{{settings.theme}}/icon/Down.svg">
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button class="btn-reset btn-default btn-close radius-5" (click)="close()" cdkFocusInitial>{{ 'CLOSE' | translate }}</button>
</div>
