<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    package="__PACKAGE__" 
    android:versionCode="1" 
    android:versionName="@string/version"
    
    >
    <supports-screens 
        android:smallScreens="true" 
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:xlargeScreens="true"
    ></supports-screens>
    <uses-sdk 
        android:targetSdkVersion="__APILEVEL__">
    </uses-sdk>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application 
        android:name="com.tns.NativeScriptApplication" 
        android:allowBackup="true" 
        android:largeHeap="true" 
        android:icon="@drawable/icon" 
        android:label="@string/app_name" 
        android:theme="@style/AppTheme">
        <activity 
            android:screenOrientation="landscape" 
            android:name="com.tns.NativeScriptActivity" 
            android:label="@string/title_activity_kimera" 
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:theme="@style/LaunchScreenTheme"
            android:launchMode="singleTask"
            >
            <meta-data 
                android:name="SET_THEME_ON_LAUNCH" 
                android:resource="@style/AppTheme">
            </meta-data>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.tns.ErrorReportActivity"></activity>
    </application>
</manifest>