<GridLayout columns="*, 3*" class="detail-section">
  <!-- AREAS -->
  <GridLayout col="0" rows="*,2*,2*,2*,2*,2*,2*,2*,2*,2*,2*" class="areas-column">
    <Label row="0" text="{{ 'AREAS' | translate }}" horizontalAlignment="center" class="section-identifier"
      marginLeft="10" marginBottom="5"></Label>
    <ng-container
      *ngFor="let area of soccerService.tournament.listDetailAreas[soccerService.selectedMatch]; let i = index">
      <FlexBoxLayout row="{{i + 1}}" flexDirection="row" justifyContent="space-between" alignItems="center"
        class="btn-soccer-area radius-5" [ngClass]="area.isSelected ?  'btn-selected': 'btn-grey-gradient'"
        [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen" (tap)="changeArea(i)"
        marginLeft="10" marginBottom="5" paddingLeft="10" paddingRight="10">
        <Label text="{{ area.name }}" class="btn-soccer-area__details--name"></Label>
        <Label class="btn-soccer-area__details--icon"
          [ngClass]="{'star-red-icon': area.hasLowestOdd, 'star-yellow-icon': area.hasHighestOdd}"
          *ngIf="area.hasLowestOdd || area.hasHighestOdd"></Label>
      </FlexBoxLayout>
    </ng-container>
  </GridLayout>

  <!-- SELECTIONS -->
  <GridLayout col="1" rows="*,20*">
    <Label row="0" text="{{ 'MARKETS' | translate }}" horizontalAlignment="center" class="section-identifier"
      marginLeft="10" marginBottom="5"></Label>
    <GridLayout row="1"
      columns="{{ soccerService.tournament.listDetailAreas[soccerService.selectedMatch][soccerService.selectedArea].layoutDefinition.areaCols | getGridStringSetting }}"
      marginLeft="5">
      <ng-container
        *ngFor="let market of soccerService.tournament.listDetailAreas[soccerService.selectedMatch][soccerService.selectedArea].markets; let i1 = index">
        <GridLayout col="{{i}}"
          rows="{{ soccerService.tournament.listDetailAreas[soccerService.selectedMatch][soccerService.selectedArea].layoutDefinition.areaRowsByCol[i] | getGridStringSetting }}"
          columns="{{ market.layoutGridDefinition.marketCols | getGridStringSetting }}"
          class="markets-selections-column"
          *ngFor="let colunm of soccerService.tournament.listDetailAreas[soccerService.selectedMatch][soccerService.selectedArea].layoutDefinition.areaCols | getArrayFromNumber; let i = index">
          <ng-container *ngFor="let odd of market.selections; let i2 = index">
            <FlexBoxLayout
              row="{{ soccerService.tournament.listDetailAreas[soccerService.selectedMatch][soccerService.selectedArea] | getNumGridElemDetail: 'row': i: i1: i2 }}"
              col="{{ soccerService.tournament.listDetailAreas[soccerService.selectedMatch][soccerService.selectedArea] | getNumGridElemDetail: 'col': i: i1: i2 }}"
              flexDirection="column" justifyContent="center" alignItems="center" class="btn-soccer-odd radius-5"
              [ngClass]="soccerService.tournament.matches[i].selectedOdds.includes(odd.id) ? 'btn-selected' : 'btn-grey-gradient'"
              [isEnabled]="!mainService.placingEvent.timeBlocked && !userService.isModalOpen"
              (tap)="selectOdd(i, market.id, odd)" marginLeft="5" marginBottom="5"
              *ngIf="market.layoutGridDefinition.marketPositionOnColArea === i + 1">
              <StackLayout orientation="horizontal" class="btn-soccer-odd__details--name" horizontalAlignment="center">
                <Label text="{{ odd.nm }}" horizontalAlignment="right"></Label>
                <Label text="{{ market.specialValueOrSpread }}" horizontalAlignment="left"
                  *ngIf="market.hasSpecialValue" marginLeft="5"></Label>
              </StackLayout>
              <Label text="{{ odd.ods[0].vl }}" class="btn-soccer-odd__details--value"
                horizontalAlignment="center"></Label>
            </FlexBoxLayout>
          </ng-container>
        </GridLayout>
      </ng-container>
    </GridLayout>
  </GridLayout>
</GridLayout>
